<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8"><!-- Google tag (gtag.js) --><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-H41NZZP78C"></script><script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-H41NZZP78C');
	</script><!-- Google Analytics --><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-HCXPKL0CV1"></script><script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
			gtag('config', 'G-HCXPKL0CV1');
		</script><!-- Meta Tags --><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><meta name="description" content="Effortlessly distribute your music to top streaming platforms with FreshRec, providing professional music distribution services for artists and creators."><meta name="keywords" content="music distribution, music marketing, digital distribution, independent artists, music promotion, online streaming, FreshRec, artist services, streaming services, music analytics, global distribution, music upload, independent musicians, music release, promote music, music business, music management, online music promotion, distribute music online, music creators, music collaboration, music discovery, emerging artists, music technology, music trends, music producers, music monetization, music branding, DIY musicians, music exposure, music networking, music community, underground music, music diversity, music insights, music trends, online presence, build fanbase, music production, music performance, music success, FreshRec distribution, indie music"><!-- Author and Category --><meta name="author" content="Bo Jos"><meta name="category" content="Music Distribution"><!-- SEO Enhancements --><meta name="rating" content="General"><meta name="yandex-verification" content="3afba2dbca489bd6"><meta name="revisit-after" content="7 days"><meta name="robots" content="index, follow"><meta name="googlebot" content="index, follow"><meta name="format-detection" content="telephone=no"><meta name="referrer" content="always"><meta name="distribution" content="global"><meta name="language" content="English"><meta name="geo.placename" content="Global"><meta name="geo.region" content="US"><meta name="ICBM" content="latitude | longitude"><!-- Canonical Link -->
		<link href="https://www.freshrec.co/" rel="canonical" /><!-- Favicon -->
		<link href="https://sonosuite-prod-brandings.s3.amazonaws.com/freshrec/images/favicon.ico" rel="icon" type="image/x-icon" /><!-- Open Graph Meta Tags --><meta property="og:title" content="FreshRec - Music Distribution Services"><meta property="og:description" content="Effortlessly distribute your music to top streaming platforms with FreshRec, providing professional music distribution services for artists and creators."><meta property="og:image" content="https://freshrec.co/fr-sc.jpg"><meta property="og:url" content="https://www.freshrec.co/"><meta property="og:type" content="website"><!-- Twitter Meta Tags --><meta name="twitter:card" content="summary_large_image"><meta name="twitter:title" content="FreshRec - Music Distribution Services"><meta name="twitter:description" content="Effortlessly distribute your music to top streaming platforms with FreshRec, providing professional music distribution services for artists and creators."><meta name="twitter:image" content="https://freshrec.co/fr-sc.jpg"><meta name="twitter:site" content="@FreshRec0"><!-- Instagram Meta Tags --><meta property="og:instagram" content="fresh.rec"><!-- Facebook Meta Tags --><meta property="og:facebook" content="freshreco"><!-- WhatsApp Meta Tags --><meta property="og:whatsapp" content="your-whatsapp-number"><!-- Structured Data (JSON-LD) --><script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "FreshRec",
				"url": "https://www.freshrec.co/",
				"logo": "https://sonosuite-prod-brandings.s3.amazonaws.com/freshrec/images/favicon.ico",
				"sameAs": [
					"https://www.facebook.com/freshreco/",
					"https://twitter.com/FreshRec0",
					"https://www.instagram.com/fresh.rec"
				]
			}
		</script><!-- Responsive Design --><!-- CSS Styles --><!-- Title -->
		<title>FreshRec - Music Distribution Services</title>
		<link href="style.css" rel="stylesheet" /><!-- Other head elements or improvements can be added as needed --><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><script bis_use="true" charset="utf-8" data-bis-config="[&quot;facebook.com/&quot;,&quot;twitter.com/&quot;,&quot;youtube-nocookie.com/embed/&quot;,&quot;//vk.com/&quot;,&quot;//www.vk.com/&quot;,&quot;//linkedin.com/&quot;,&quot;//www.linkedin.com/&quot;,&quot;//instagram.com/&quot;,&quot;//www.instagram.com/&quot;,&quot;//www.google.com/recaptcha/api2/&quot;,&quot;//hangouts.google.com/webchat/&quot;,&quot;//www.google.com/calendar/&quot;,&quot;//www.google.com/maps/embed&quot;,&quot;spotify.com/&quot;,&quot;soundcloud.com/&quot;,&quot;//player.vimeo.com/&quot;,&quot;//disqus.com/&quot;,&quot;//tgwidget.com/&quot;,&quot;//js.driftt.com/&quot;,&quot;friends2follow.com&quot;,&quot;/widget&quot;,&quot;login&quot;,&quot;//video.bigmir.net/&quot;,&quot;blogger.com&quot;,&quot;//smartlock.google.com/&quot;,&quot;//keep.google.com/&quot;,&quot;/web.tolstoycomments.com/&quot;,&quot;moz-extension://&quot;,&quot;chrome-extension://&quot;,&quot;/auth/&quot;,&quot;//analytics.google.com/&quot;,&quot;adclarity.com&quot;,&quot;paddle.com/checkout&quot;,&quot;hcaptcha.com&quot;,&quot;recaptcha.net&quot;,&quot;2captcha.com&quot;,&quot;accounts.google.com&quot;,&quot;www.google.com/shopping/customerreviews&quot;,&quot;buy.tinypass.com&quot;,&quot;gstatic.com&quot;,&quot;secureir.ebaystatic.com&quot;,&quot;docs.google.com&quot;,&quot;contacts.google.com&quot;,&quot;github.com&quot;,&quot;mail.google.com&quot;,&quot;chat.google.com&quot;,&quot;audio.xpleer.com&quot;,&quot;keepa.com&quot;,&quot;static.xx.fbcdn.net&quot;,&quot;sas.selleramp.com&quot;,&quot;1plus1.video&quot;,&quot;console.googletagservices.com&quot;]" src="chrome-extension://nimlmejbmnecnaghgmbahmbaddhjbecg/../executers/vi-tr.js" type="text/javascript"></script><script bis_use="true" type="text/javascript" charset="utf-8" data-bis-config="[&quot;facebook.com/&quot;,&quot;twitter.com/&quot;,&quot;youtube-nocookie.com/embed/&quot;,&quot;//vk.com/&quot;,&quot;//www.vk.com/&quot;,&quot;//linkedin.com/&quot;,&quot;//www.linkedin.com/&quot;,&quot;//instagram.com/&quot;,&quot;//www.instagram.com/&quot;,&quot;//www.google.com/recaptcha/api2/&quot;,&quot;//hangouts.google.com/webchat/&quot;,&quot;//www.google.com/calendar/&quot;,&quot;//www.google.com/maps/embed&quot;,&quot;spotify.com/&quot;,&quot;soundcloud.com/&quot;,&quot;//player.vimeo.com/&quot;,&quot;//disqus.com/&quot;,&quot;//tgwidget.com/&quot;,&quot;//js.driftt.com/&quot;,&quot;friends2follow.com&quot;,&quot;/widget&quot;,&quot;login&quot;,&quot;//video.bigmir.net/&quot;,&quot;blogger.com&quot;,&quot;//smartlock.google.com/&quot;,&quot;//keep.google.com/&quot;,&quot;/web.tolstoycomments.com/&quot;,&quot;moz-extension://&quot;,&quot;chrome-extension://&quot;,&quot;/auth/&quot;,&quot;//analytics.google.com/&quot;,&quot;adclarity.com&quot;,&quot;paddle.com/checkout&quot;,&quot;hcaptcha.com&quot;,&quot;recaptcha.net&quot;,&quot;2captcha.com&quot;,&quot;accounts.google.com&quot;,&quot;www.google.com/shopping/customerreviews&quot;,&quot;buy.tinypass.com&quot;,&quot;gstatic.com&quot;,&quot;secureir.ebaystatic.com&quot;,&quot;docs.google.com&quot;,&quot;contacts.google.com&quot;,&quot;github.com&quot;,&quot;mail.google.com&quot;,&quot;chat.google.com&quot;,&quot;audio.xpleer.com&quot;,&quot;keepa.com&quot;,&quot;static.xx.fbcdn.net&quot;,&quot;sas.selleramp.com&quot;,&quot;1plus1.video&quot;,&quot;console.googletagservices.com&quot;]" src="chrome-extension://nimlmejbmnecnaghgmbahmbaddhjbecg/../executers/vi-tr.js"></script>
		<link rel="stylesheet" href="/css/style.css">
		<script bis_use="true" charset="utf-8" data-bis-config="[&quot;facebook.com/&quot;,&quot;twitter.com/&quot;,&quot;youtube-nocookie.com/embed/&quot;,&quot;//vk.com/&quot;,&quot;//www.vk.com/&quot;,&quot;//linkedin.com/&quot;,&quot;//www.linkedin.com/&quot;,&quot;//instagram.com/&quot;,&quot;//www.instagram.com/&quot;,&quot;//www.google.com/recaptcha/api2/&quot;,&quot;//hangouts.google.com/webchat/&quot;,&quot;//www.google.com/calendar/&quot;,&quot;//www.google.com/maps/embed&quot;,&quot;spotify.com/&quot;,&quot;soundcloud.com/&quot;,&quot;//player.vimeo.com/&quot;,&quot;//disqus.com/&quot;,&quot;//tgwidget.com/&quot;,&quot;//js.driftt.com/&quot;,&quot;friends2follow.com&quot;,&quot;/widget&quot;,&quot;login&quot;,&quot;//video.bigmir.net/&quot;,&quot;blogger.com&quot;,&quot;//smartlock.google.com/&quot;,&quot;//keep.google.com/&quot;,&quot;/web.tolstoycomments.com/&quot;,&quot;moz-extension://&quot;,&quot;chrome-extension://&quot;,&quot;/auth/&quot;,&quot;//analytics.google.com/&quot;,&quot;adclarity.com&quot;,&quot;paddle.com/checkout&quot;,&quot;hcaptcha.com&quot;,&quot;recaptcha.net&quot;,&quot;2captcha.com&quot;,&quot;accounts.google.com&quot;,&quot;www.google.com/shopping/customerreviews&quot;,&quot;buy.tinypass.com&quot;,&quot;gstatic.com&quot;,&quot;secureir.ebaystatic.com&quot;,&quot;docs.google.com&quot;,&quot;contacts.google.com&quot;,&quot;github.com&quot;,&quot;mail.google.com&quot;,&quot;chat.google.com&quot;,&quot;audio.xpleer.com&quot;,&quot;keepa.com&quot;,&quot;static.xx.fbcdn.net&quot;,&quot;sas.selleramp.com&quot;,&quot;1plus1.video&quot;,&quot;console.googletagservices.com&quot;]" src="chrome-extension://nimlmejbmnecnaghgmbahmbaddhjbecg/../executers/vi-tr.js" type="text/javascript"></script>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
		crossorigin="anonymous">		
		<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<title>FreshRec Music Distribution</title>
		<link href="https://sonosuite-prod-brandings.s3.amazonaws.com/freshrec/images/favicon.ico" rel="icon" type="image/x-icon">


		<style>.wf-force-outline-none[tabindex="-1"]:focus{outline:none;}</style><meta charset="utf-8"><title>Sell &amp; Stream Your Music | Octiive</title><link rel="alternate" hreflang="x-default" href="https://www.octiive.com/"><link rel="alternate" hreflang="en" href="https://www.octiive.com/"><link rel="alternate" hreflang="de" href="https://www.octiive.com/de"><link rel="alternate" hreflang="es" href="https://www.octiive.com/es"><meta content="Best digital music distribution network for Spotify, Apple Music, Tidal &amp; 600+ more. Get your first single free! Unlimited uploads, keep 100% royalties &amp; rights." name="description"><meta content="Sell &amp; Stream Your Music | Octiive" property="og:title"><meta content="Best digital music distribution network for Spotify, Apple Music, Tidal &amp; 600+ more. Get your first single free! Unlimited uploads, keep 100% royalties &amp; rights." property="og:description"><meta content="Sell &amp; Stream Your Music | Octiive" property="twitter:title"><meta content="Best digital music distribution network for Spotify, Apple Music, Tidal &amp; 600+ more. Get your first single free! Unlimited uploads, keep 100% royalties &amp; rights." property="twitter:description"><meta property="og:type" content="website"><meta content="summary_large_image" name="twitter:card"><meta content="width=device-width, initial-scale=1" name="viewport"><meta content="LzCKL8rhdJ562Vhjo01FLlx9bLOCYmkQoLvRBhuJk54" name="google-site-verification"><link href="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/css/octiive-2020.8f3ddf0dc.css" rel="stylesheet" type="text/css"><script src="https://connect.facebook.net/signals/config/132495327108976?v=2.9.158&amp;r=stable&amp;domain=www.octiive.com&amp;hme=446fb981c8c3baeb03730fe3cbd404f7f15f64c693f24c7fe75da498bc2c95d8&amp;ex_m=67%2C113%2C100%2C104%2C58%2C3%2C93%2C66%2C15%2C91%2C84%2C49%2C51%2C160%2C163%2C174%2C170%2C171%2C173%2C28%2C94%2C50%2C73%2C172%2C155%2C158%2C167%2C168%2C175%2C122%2C14%2C48%2C180%2C179%2C124%2C17%2C33%2C38%2C1%2C41%2C62%2C63%2C64%2C68%2C88%2C16%2C13%2C90%2C87%2C86%2C101%2C103%2C37%2C102%2C29%2C25%2C156%2C159%2C131%2C27%2C10%2C11%2C12%2C5%2C6%2C24%2C21%2C22%2C54%2C59%2C61%2C71%2C95%2C26%2C72%2C8%2C7%2C76%2C46%2C20%2C97%2C96%2C98%2C9%2C19%2C18%2C81%2C53%2C79%2C32%2C70%2C0%2C89%2C31%2C78%2C83%2C45%2C44%2C82%2C36%2C4%2C85%2C77%2C42%2C39%2C34%2C80%2C2%2C35%2C60%2C40%2C99%2C43%2C75%2C65%2C105%2C57%2C56%2C30%2C92%2C55%2C52%2C47%2C74%2C69%2C23%2C106" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script src="https://use.typekit.net/kym0yoe.js" type="text/javascript"></script><style type="text/css">.tk-proxima-nova{font-family:"proxima-nova",sans-serif;}</style><style type="text/css">@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-stretch:normal;font-display:auto;}</style><script type="text/javascript">try{Typekit.load();}catch(e){}</script><script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script><link href="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/5e0e71c5f72aff24fa45301e_Octiive_Favicon.png" rel="shortcut icon" type="image/x-icon"><link href="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/5e0e71fb77ff447ed965de19_Octiive_Webclip-2.png" rel="apple-touch-icon"><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-R3DCXYP1GQ"></script><script type="text/javascript">window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('set', 'developer_id.dZGVlNj', true);gtag('config', 'G-R3DCXYP1GQ');</script><script type="text/javascript">!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.agent='plwebflow';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '132495327108976');fbq('track', 'PageView');</script>
<style>
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, figure, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 40%;
    vertical-align: baseline;
}

body {
    background: #000;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
}

body:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .75);
    content: "";
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, .2);
    transition: transform .3s ease, background .3s ease;
}

.navigation, .navigation__logo {
    display: flex;
}

.navigation {
    position: relative;
    height: 12.8rem;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px;
    }
}

.container, .container-fluid, .container-xl {
    width: 100%;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    margin-right: auto;
    margin-left: auto;
}

.navigation__logo {
    position: absolute;
    left: 1.6rem;
    bottom: 0;
}

a {
    text-decoration: none;
    transition: color .3s ease;
}

.navigation__logo-img {
    width: 100%;
    max-width: 22.1rem;
    height: 6.8rem;
    transition: transform .3s ease;
    transform: translateY(-3rem) scale(1);
    transform-origin: left center;
}

img {
    max-width: 100%;
    height: auto;
}

.navigation__right-bottom {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

/* Footer styles */
.footer {
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.navigation__main-menu, .navigation__main-menu>li>a {
    display: flex;
}

ol, ul {
    list-style: none;
}

html {
    font-size: 40%;
}

.navigation__main-menu>li>a {
    position: relative;
    font-family: Heroic Condensed, Arial, sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    color: #fff;
    height: 6.8rem;
    align-items: center;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
}

.navigation__main-menu, .navigation__main-menu>li>a {
    display: flex;
}

a {
    text-decoration: none;
    transition: color .3s ease;
}

ol, ul {
    list-style: none;
}

.navigation__main-menu>li.current-menu-item>a:after, .navigation__main-menu>li.current-menu-item>a:before {
    max-width: calc(50% - 1rem);
}

.navigation__main-menu>li>a:before {
    right: 50%;
}

.navigation__main-menu>li>a:after {
    left: 50%;
}

.main {
    overflow: hidden;
}

.container--medium {
    max-width: 120rem;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px;
    }
}

.container, .container-fluid, .container-xl {
    width: 100%;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
    height: auto;
}

style attribute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.6rem;
    margin-left: -1.6rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
}

body, html {
    font-family: Archivo Narrow, Arial, sans-serif;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-size: 8rem;
    line-height: 7rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Heroic Condensed, Arial, sans-serif;
    font-weight: 500;
    color: #fff;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.page-header__slide-content .button {
    min-width: 21.5rem;
}

.button, button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 4.5rem 0;
    min-height: 5.5rem;
    height: 5rem;
    font-family: "Heroic Condensed", Arial, sans-serif;
    background: #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.6rem;
    line-height: 1.8rem;
    transition: background .3s ease, color .3s ease, border .3s ease;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #fff; /* Border color will be overridden later */
    padding: 10px 20px; /* Adjusted padding */
    border-radius: 5px; /* Rounded corners */
}

.button:hover {
    font-size: 65000%;
    text-shadow: 100 33 black;
    color: red;
    border-color: red;
}

style attribute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

style attribute {
    color: white;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px;
}a {
    text-decoration: none;
    transition: color .3s ease;
}

@media only screen and (max-width: 1280px) {
    .footer {
        padding-top: 16rem;
    }
}

.footer {
    position: relative;
    padding-top: 31rem;
}

.footer__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.object-fit {
    position: relative;
}

.footer__background:after {
    position: absolute;
    width: 100%;
    height: 27rem;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #000, transparent);
    content: "";
}

.footer__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .27;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px;
    }
}

.container, .container-fluid, .container-xl {
    width: 100%;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    margin-right: auto;
    margin-left: auto;
}

*, :after, :before {
    box-sizing: inherit;
}

.footer__top {
    padding-bottom: 9.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.6rem;
    margin-left: -1.6rem;
}

.footer__col, .footer__logo {
    display: flex;
}

.footer__col {
    flex-flow: column nowrap;
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
}

.footer__logo {
    max-width: 20rem;
    margin-bottom: 4rem;
}

.footer__logo-img {
    width: 100%;
    height: 6.1rem;
}.footer__menu-title {
    font-size: 2.7rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 4rem;
    line-height: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Heroic Condensed, Arial, sans-serif;
    font-weight: 500;
    color: #fff;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

user agent stylesheet
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
element.style {
}

user agent stylesheet
nav {
    display: block;
    unicode-bidi: isolate;
}

ol, ul {
    list-style: none;
}

user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

user agent stylesheet
ul {
    list-style-type: disc;
}

.footer__menu a {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: hsla(0, 0%, 100%, .4);
    transition: color .3s ease;
}

a {
    text-decoration: none;
    transition: color .3s ease;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

user agent stylesheet
li {
    text-align: -webkit-match-parent;
}

.footer__bottom, .footer__col-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.footer__bottom {
    padding-bottom: 3.5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1.6rem;
    margin-left: -1.6rem;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1.6rem;
    margin-left: -1.6rem;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
element.style {
}
.footer__col-left {
    -ms-flex-direction: row;
    flex-direction: row;
}
.footer__bottom, .footer__col-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.footer__col-left {
    -ms-flex-direction: row;
    flex-direction: row;
}
.footer__bottom, .footer__col-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body, html {
    font-family: Archivo Narrow, Arial, sans-serif;
}
.footer__bottom-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.footer__bottom-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
* {
    box-sizing: border-box !important;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.footer__col-left div p {
    margin-bottom: 0;
}
.footer__col-left div p {
    margin-bottom: 0;
}
.footer__copyright {
    position: relative;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: hsla(0, 0%, 100%, .3);
    margin-bottom: 0;
    padding-right: 2.5rem;
    margin-right: 1.25rem;
    white-space: nowrap;
}
.footer__copyright {
    position: relative;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: hsla(0, 0%, 100%, .3);
    margin-bottom: 0;
    padding-right: 2.5rem;
    margin-right: 1.25rem;
    white-space: nowrap;
}
p {
    font-family: Archivo Narrow, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: hsla(0, 0%, 100%, .5);
    margin-bottom: 3rem;
}
p {
    font-family: Archivo Narrow, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: hsla(0, 0%, 100%, .5);
    margin-bottom: 3rem;
}

user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.footer__copyright:after {
    position: absolute;
    right: 0;
    top: .6rem;
    width: .1rem;
    height: 1.7rem;
    background: hsla(0, 0%, 100%, .3);
    content: "";
}
.release-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.release-widget {
  background-color: #080808;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex-grow: 1;
  margin-top: 50px;
  max-width: 500px; /* Increased maximum width */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.release-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.release-title {
  margin-top: 10px;
  font-size: 18px;
}

.release-artist {
  font-size: 14px;
  padding: 3%;
    margin: 2%;
  color: #ccc;
}

.release-comments {
  font-size: 14px;
  color: #ccc;
  display: flex;
  align-items: center;
}

.release-comment-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  filter: invert(1);
}

.release-button {
  display: inline-block;
  text-align: center;
  background-color: #b01b00;
  
  margin-bottom: -1000%;
  
  color: white;
  padding: 3% 3%;
  text-decoration: none;
  margin-top: 0%;
  font-size: 10000%;
  font-weight: bold;
}

@media (min-width: 0px) {
    .release-button {
        width: 108%;
        margin-left: -4%;
         border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
        
    }
}

@media (min-width: 500px) {
  .release-widget {
    width: calc(50% - 20px); /* Adjusted width for two columns with 20px margin */
  }
    .release-button {
        margin-bottom: -100%;
            margin-top: 10%;
        width: 121.5%;
        height: 12%;
        font-size: 10000%;
        line-height: 1.4; /* Adjust line height for vertical alignment */
        margin-left: -10%;
        border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
    }
}


@media (min-width: 600px) {
  .release-widget {
    width: calc(50% - 20px); /* Adjusted width for two columns with 20px margin */
  }
    .release-button {
        margin-bottom: -20%;
            margin-top: 10%;
        width: 117.5%;
        margin-left: -9%;
        font-size: 15000%;
        line-height: 1.0; /* Adjust line height for vertical alignment */
        border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
    }
}

@media (min-width: 700px) {
  .release-widget {
    width: calc(50% - 20px); /* Adjusted width for two columns with 20px margin */
  }
    .release-button {
        margin-bottom: -15%;
            margin-top: 10%;
        width: 114%;
        margin-left: -7%;
        border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
    }
}

@media (min-width: 800px) {
  .release-widget {
    width: calc(50% - 20px); /* Adjusted width for two columns with 20px margin */
  }
    .release-button {
        margin-bottom: -5%;
            margin-top: 10%;
        width: 110%;
        margin-left: -5%;
        border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
    }
}

@media (min-width: 992px) {
  .release-widget {
    width: calc(33.33% - 20px); /* Adjusted width for three columns with 20px margin */
      .release-button {
          margin-bottom: -20%;
        width: 114%;
        margin-left: -7%;
          margin-top: 2%
        
    }
  }

    @media (min-width: 1200px) {
  .release-widget {
    width: calc(33.33% - 20px); /* Adjusted width for three columns with 20px margin */
      .release-button {
        width: 111.5%;
        margin-left: -5.4%;
          margin-top: 2%
        
    }
  }
    
@media (min-width: 1300px) {
  .release-widget {
    width: calc(33.33% - 20px); /* Adjusted width for three columns with 20px margin */
      .release-button {
        width: 109%;
        margin-left: -4.5%;
          margin-top: 2%;
          line-height: 1.3; /* Adjust line height for vertical alignment */
        
    }
  }
}.footer {
    position: relative;
    padding-top: 31rem
}

.footer__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.footer__background:after {
    position: absolute;
    width: 100%;
    height: 27rem;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,#000,transparent);
    content: ""
}

.footer__background .ie-image {
    opacity: .27
}

.footer__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .27
}

.footer__top {
    padding-bottom: 9.5rem
}

.footer__col {
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap
}

.footer__col,.footer__logo {
    display: -ms-flexbox;
    display: flex
}

.footer__logo {
    max-width: 20rem;
    margin-bottom: 4rem
}

.footer__logo-img {
    width: 100%;
    height: 6.1rem
}

.footer__menu-title {
    font-size: 2.7rem;
    line-height: 4rem;
    margin-bottom: 1rem
}

.footer__menu a {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: hsla(0,0%,100%,.4);
    transition: color .3s ease
}

.footer__menu a:hover {
    color: #fff
}

.footer__menu .sub-menu {
    padding-left: 1.6rem
}

.footer__menu--bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.footer__menu--bottom a {
    font-size: 1.4rem;
    color: hsla(0,0%,100%,.3);
    padding: 0 1.25rem;
    white-space: nowrap
}

.footer__all-link {
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem
}

.footer__bottom {
    padding-bottom: 3.5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative
}

.footer__bottom,.footer__col-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.footer__col-left {
    -ms-flex-direction: row;
    flex-direction: row
}

.footer__col-left div p {
    margin-bottom: 0
}

.footer__col-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 25rem;
    width: 100%
}

.footer__col-right a img {
    width: 10rem
}

.footer__bottom-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.footer__copyright {
    position: relative;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: hsla(0,0%,100%,.3);
    margin-bottom: 0;
    padding-right: 2.5rem;
    margin-right: 1.25rem;
    white-space: nowrap
}
.footer__created-by {
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: hsla(0,0%,100%,.3)
}

.footer__created-by a {
    color: hsla(0,0%,100%,.3);
    transition: color .3s ease
}

.footer__created-by a:hover {
    color: #fff
}

@media only screen and (max-width: 1280px) {
    .footer {
        padding-top:16rem
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
        padding-top:8rem
    }
}

@media only screen and (max-width: 991px) {
    .footer__top {
        padding-bottom:1.5rem
    }

    .footer__bottom {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .footer__bottom,.footer__col-right {
        padding-bottom: 1.6rem
    }

    .footer__col {
        margin-bottom: 3rem
    }
}

@media only screen and (max-width: 640px) {
    .footer {
        padding-top:5rem
    }

    .footer__logo {
        margin-bottom: 2rem
    }

    .footer__col {
        margin-bottom: 1rem
    }

    .footer__menu-title {
        margin-bottom: 0
    }

    .footer__all-link {
        margin-top: .5rem
    }

    .footer__col-left {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .footer__bottom {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
.footer__bottom,.footer__bottom-left {
    -ms-flex-pack: center;
    justify-content: center
}

.footer__bottom-left {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center
}

.footer__copyright {
    padding-right: 0;
    margin-right: 0
}

.footer__copyright:after {
    display: none
}

.footer__menu--bottom a {
    padding: 0 .8rem
}

.footer__menu--bottom li:first-child a {
    padding-left: 0
}

.page-template-page-top-100-confirm {
    padding-bottom: 5rem
}

.page-template-page-top-100-confirm .page-header {
    height: auto!important
}

@media(max-width: 640px) {
    .page-template-page-top-100-confirm .page-header__logo .logo img {
        width:9.9rem
    }
    
    .page-template-page-top-100-confirm .page-header .editor .button {
        display:none
    }
}

.page-template-page-top-100-thanks {
    padding-bottom: 5rem
}

.page-template-page-top-100-thanks .page-header {
    height: 100%!important
}

@media(max-width: 640px) {
    .page-template-page-top-100-thanks .page-header__logo .logo img {
        width:9.9rem
    }
    
    .page-template-page-top-100-thanks .editor .button {
        display:none
    }
}

.page-template-page-top-100-thanks .playlist__item-info.playlist__list-item {
    top: 0
}

.page-template-page-top-100 .page-header__image {
    overflow: hidden
}

@media(max-width: 640px) {
    .page-template-page-top-100 .page-header__logo {
        margin-top:10rem!important
    }
}

.page-template-page-top-100 .header,.page-template-page-top-100-confirm .header,.page-template-page-top-100-thanks .header {
    position: relative;
    overflow: hidden
}

@media(max-width: 991px) {
    .page-template-page-top-100 .header,.page-template-page-top-100-confirm .header,.page-template-page-top-100-thanks .header {
        position:fixed;
        -ms-transform: none!important;
        transform: none!important
    }
}

.page-template-page-top-100 .page-header,.page-template-page-top-100-confirm .page-header,.page-template-page-top-100-thanks .page-header {
    height: auto;
    margin-bottom: 10rem
}

@media(max-width: 1024px) {
    .page-template-page-top-100 .page-header,.page-template-page-top-100-confirm .page-header,.page-template-page-top-100-thanks .page-header {
        height:auto
    }
}

@media(max-width: 640px) {
    .page-template-page-top-100 .page-header__logo .logo img,.page-template-page-top-100-confirm .page-header__logo .logo img,.page-template-page-top-100-thanks .page-header__logo .logo img {
        width:9.9rem
    }
    
    .page-template-page-top-100 .page-header__logo,.page-template-page-top-100-confirm .page-header__logo,.page-template-page-top-100-thanks .page-header__logo {
        margin-top:3.2rem
    }
    
    .page-template-page-top-100 .page-header__title,.page-template-page-top-100-confirm .page-header__title,.page-template-page-top-100-thanks .page-header__title {
        margin-top:1.9rem!important;
        margin-bottom: 0!important
    }
}

.page-template-page-top-100 .page-header__title--small,.page-template-page-top-100-confirm .page-header__title--small,.page-template-page-top-100-thanks .page-header__title--small {
    font-size: 6.6rem;
    line-height: 6.6rem;
    margin-top: 4.9rem!important
}

@media(max-width: 640px) {
    .page-template-page-top-100 .page-header__title--small,.page-template-page-top-100-confirm .page-header__title--small,.page-template-page-top-100-thanks .page-header__title--small {
        font-size:3.8rem;
        line-height: 4.2rem;
        margin-top: 1.9rem!important
    }
}

@media (max-width: 768px) {
    .navigation__main-menu {
        display: none;
    }
}

.navigation__main-menu > li > a:hover {
    font-size: large;
    text-shadow: 2px 2px black;
}

@media (max-width: 524px) {
    .navigation__main-menu > li > a {
        display: none;
    }
}

.page-template-page-top-100 .navigation,.page-template-page-top-100-confirm .navigation,.page-template-page-top-100-thanks .navigation {
    height: auto;
    background: #000
}

@media (max-width: 640px) {
    .navigation__right-bottom {
        display: none;
    }
}
</style>
	
	</head>
	<body>

		<div class="container">
			<%- body %>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<!-- Include Flatpickr library script -->
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

		<script>
			// Initialize Flatpickr for the original release date input field
			flatpickr("#originalReleaseDate", {
				// Options for Flatpickr
				dateFormat: "Y-m-d", // Date format
				defaultDate: "today", // Default date
				altInput: true, // Enable the alternate input field
				altFormat: "F j, Y", // Alternate input date format
				inline: false, // Show the calendar inline
				static: true // Keep the calendar open after selecting a date
			});
		</script>
	</body>
</html>