<div class="container">
    <h2>New Release</h2>
    <form action="/release" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>
