<div class="row mt-5">
  <div class="col-md-6 m-auto">
      
      
    </div>
  </div>
</div>

<header class="header headroom headroom--not-bottom headroom--pinned headroom--top">
	<div bis_skin_checked="1" class="navigation container">
		<a aria-label="Logo" class="navigation__logo" href="https://freshrec.co/">
			<img alt="Logo" class="navigation__logo-img" src="https://freshrec.co/logo4.png" />
		</a>
		<div bis_skin_checked="1" class="navigation__right-bottom">
			<style type="text/css">
				@media (max-width: 568px) {
				.navigation__main-menu {
				display: none;
				}
				}

				.navigation__main-menu > li > a:hover {
				font-size: large;
				text-shadow: 2px 2px black;
				}
			</style>
			<nav>
				<ul class="navigation__main-menu" style="max-width: 100%;">
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-61990" id="menu-item-61990">
						<a aria-current="page" href="https://freshrec.co/">Home</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100" id="menu-item-100">
						<a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98" id="menu-item-98"></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96" id="menu-item-96"></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96" id="menu-item-96">
						<a href="/users/login" class="btn btn-secondary btn-block">Login</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97" id="menu-item-97">
						<a href="/blog">Blog</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<main class="main">
	<section>
		<img alt="Grayscale Image" src="https://www.freshrec.co/fr-home3.jpg" style="width: 100%;height: 100%;object-fit: cover;" />
		<div bis_skin_checked="1" class="page-header__slide-content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff;">
			<div bis_skin_checked="1" class="container container--medium">
				<div bis_skin_checked="1" class="row">
					<div bis_skin_checked="1" class="col-12">
						<div bis_skin_checked="1" class="page-header__slide-content">
							<p style="color: white;position: relative;margin-top: -40%;z-index: 1;font-size: 100000%;/* background-color: rgba(0, 0, 0, 1); */text-shadow: 2px 2px black;padding: 10px;width: 80%;margin-left: 10%;">Ready to get your music heard?</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section--first section--first-on-home">
		<div bis_skin_checked="1" class="container">
			<div bis_skin_checked="1" class="row">
				<div bis_skin_checked="1" class="col-12">
					<h1 class="section__title section__title--small" style="
    font-size: 30;
    margin-left: 50;
    margin-top: -75;
    margin-bottom: 4%;
    text-shadow: 2px 2px black;
">Releases</h1>
				</div>
			</div>

			<div bis_skin_checked="1" class="release-container" style="
    margin-top: -5%;
    margin-bottom: 5%;
">
				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/3b/9c/9d/3b9c9d3c-9fc0-fffc-05ed-e707751798e4/8447181173024.jpg/1400x1400bb.jpg" />
					<h3 class="release-title">Stronger (Speed Up)</h3>

					<p class="release-artist">DJ Smellhodet &middot; Anime Lifestyle &middot; SICK LEGEND</p>
					<a class="release-button" href="https://songwhip.com/dj-smellhodet/strongerspeedup">Download or stream</a>
				</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/61/8b/ae/618baedd-16dc-8d42-d2c2-097301b4d5a4/197342346832_cover.jpg/1400x1400bb.jpg" />
					<h3 class="release-title">Lil Nigeria</h3>

					<p class="release-artist">Money Man</p>
					<a class="release-button" href="https://songwhip.com/money-man/lil-nigeria">Download or stream</a>
				</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/21/e8/1a/21e81aab-29a2-64e3-e5c8-6bd618be927f/197999035639_cover.jpg/1400x1400bb.jpg" />
					<h3 class="release-title">Calling My Name (I&#39;m A Soldier) (Live)</h3>

					<p class="release-artist">Ebuka Songs</p>
					<a class="release-button" href="https://songwhip.com/ebukasongs/calling-my-name-im-a-soldier-live">Download or stream</a>
				</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/45/81/31/4581317e-8d0c-4adf-395c-3dae1d3e3eff/8445888484924.jpg/1400x1400bb.jpg" />
					<h3 class="release-title">Advance Hardstyle</h3>

					<p class="release-artist">Anime Lifestyle</p>
					<a class="release-button" href="https://songwhip.com/animelifestyle/advancehardstyle">Download or stream</a>
				</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://i.scdn.co/image/ab67616d0000b2733747ffc44bb642cb2195af7b" />
					<h3 class="release-title">Я тебя не отдам! (Sped Up)</h3>

					<p class="release-artist">Anime Lifestyle</p>
					<a class="release-button" href="https://songwhip.com/animelifestyle/r-tebr-ne-otdam-sped-up">Download or stream</a>
				</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/db/9e/62/db9e624b-197d-83e1-5e44-07cb01af3be0/8445888771451.jpg/1400x1400bb.jpg" />
					<h3 class="release-title">Big Boy</h3>

					<p class="release-artist">Serena</p>
					<a class="release-button" href="https://songwhip.com/serena2/big-boy">Download or stream</a>
				</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/ad/15/f8/ad15f8b9-4083-e7df-305d-158fd11ba882/8447181064100.jpg/1400x1400bb.jpg" />
					<h3 class="release-title">Mi Thar Su Kan Tot Pwal</h3>

					<p class="release-artist">Min Lwin Moe &middot; Saint Nay Chi</p>
					<a class="release-button" href="https://songwhip.com/minlwinmoe/mi-thar-su-kan-tot-pwal">Download or stream</a>
				</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/93/3f/bb/933fbb14-f528-2350-0f63-07f84fb405fe/8445888861381.jpg/1400x1400bb.jpg" />
					<h3 class="release-title">Somebody&#39;s Pleasure</h3>

					<p class="release-artist">Derinada</p>
					<a class="release-button" href="https://songwhip.com/derinada/somebodys-pleasure">Download or stream</a>
				</div>
			</div>
		</div>
	</section>
</main>

<footer class="footer" style="background-image: url('https://freshrec.co/footer.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
	<div bis_skin_checked="1" style="position: relative; transform: translateX(-5%);">
		<div bis_skin_checked="1" style="display: flex; margin-right: 10px; width: 108%; font-size: 100; justify-content: center; align-content: center;">
			<a aria-label="Logo" class="footer__logo" href="https://freshrec.co/">
				<img alt="Logo" class="footer__logo-img" src="https://freshrec.co/logo4.png" />
			</a>
		</div>

		<div bis_skin_checked="1" style="display: flex; margin-right: 10px; width: 108%; font-size: 100; justify-content: center; align-content: center;">
			<a href="/" style="color: #ffffff;font-size: 25%;">Home</a>
		</div>

		<div bis_skin_checked="1" style="display: flex; margin-right: 10px; width: 108%; font-size: 100; justify-content: center; align-content: center;">
			<a href="/contact" style="color: #ffffff;font-size: 25%;">Contact us &nbsp;</a>
			<a href="https://distro.freshrec.co/login.cfm" style="color: #ffffff;font-size: 25%;">Distribute</a>
		</div>

		<div bis_skin_checked="1" style="display: flex; margin-right: 10px; width: 108%; font-size: 100; justify-content: center; align-content: center;">
			<a href="/artists" style="color: #ffffff;font-size: 25%;">Artists &nbsp;</a>
			<a href="/blog" style="color: #ffffff;font-size: 25%;">Blog</a>
		</div>

		<div bis_skin_checked="1" style="display: flex;font-size: 10%;margin-right: 10px;width: 108%;margin-top: 25;justify-content: center;align-content: center;">
			<a href="" style="font-size: 10000%;color: #ffffff;">&copy; 2024 FreshRec. All Rights Reserved.</a>
		</div>
	</div>
</footer>