<div class="row mt-5">
  <div class="col-md-6 m-auto">
      
      
    </div>
  </div>
</div>

<header class="header headroom headroom--not-bottom headroom--pinned headroom--top">
	<div bis_skin_checked="1" class="navigation container">
		<a aria-label="Logo" class="navigation__logo" href="https://freshrec.co/">
			<img alt="Logo" class="navigation__logo-img" src="https://freshrec.co/logo4.png" />
		</a>
		<div bis_skin_checked="1" class="navigation__right-bottom">
			<style type="text/css">
				@media (max-width: 568px) {
				.navigation__main-menu {
				display: none;
				}
				}

				.navigation__main-menu > li > a:hover {
				font-size: large;
				text-shadow: 2px 2px black;
				}
			</style>
			<nav>
				<ul class="navigation__main-menu" style="max-width: 100%;">
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-61990" id="menu-item-61990">
						<a aria-current="page" href="https://freshrec.co/">Home</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100" id="menu-item-100">
						<a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98" id="menu-item-98"></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96" id="menu-item-96"></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96" id="menu-item-96">
						<a href="/users/login" class="btn btn-secondary btn-block">Login</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97" id="menu-item-97">
						<a href="/blog">Blog</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<main class="main">


	<section class="section section--first section--first-on-home">
		<div bis_skin_checked="1" class="container">


			<div bis_skin_checked="1" class="release-container">
				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/3b/9c/9d/3b9c9d3c-9fc0-fffc-05ed-e707751798e4/8447181173024.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Stronger (Speed Up)</h3>

						<p class="release-artist">DJ Smellhodet · Anime Lifestyle · SICK LEGEND</p>
						<h3 class="release-button" href="https://songwhip.com/dj-smellhodet/strongerspeedup" style="
    font-size: 2000%;
">Download or stream</h3>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/61/8b/ae/618baedd-16dc-8d42-d2c2-097301b4d5a4/197342346832_cover.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Lil Nigeria</h3>

						<p class="release-artist">Money Man</p>
						<h3 class="release-button" href="https://songwhip.com/dj-smellhodet/strongerspeedup" style="
    font-size: 2000%;
">Download or stream</h3>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/21/e8/1a/21e81aab-29a2-64e3-e5c8-6bd618be927f/197999035639_cover.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Calling My Name (I'm A Soldier) (Live)</h3>

						<p class="release-artist">Ebuka Songs</p>
						<h3 class="release-button" href="https://songwhip.com/ebukasongs/calling-my-name-im-a-soldier-live" style="
    font-size: 2000%;
">Download or stream</h3>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/45/81/31/4581317e-8d0c-4adf-395c-3dae1d3e3eff/8445888484924.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Advance Hardstyle</h3>

						<p class="release-artist">Anime Lifestyle</p>
						<a class="release-button" href="https://songwhip.com/animelifestyle/advancehardstyle" style="
    font-size: 2000%;
">Download or stream</a>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://i.scdn.co/image/ab67616d0000b2733747ffc44bb642cb2195af7b">
						<h3 class="release-title">Я тебя не отдам! (Sped Up)</h3>

						<p class="release-artist">Anime Lifestyle</p>
						<a class="release-button" href="https://songwhip.com/animelifestyle/r-tebr-ne-otdam-sped-up" style="
    font-size: 2000%;
">Download or stream</a>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/db/9e/62/db9e624b-197d-83e1-5e44-07cb01af3be0/8445888771451.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Big Boy</h3>

						<p class="release-artist">Serena</p>
						<a class="release-button" href="https://songwhip.com/serena2/big-boy" style="
    font-size: 2000%;
">Download or stream</a>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/ad/15/f8/ad15f8b9-4083-e7df-305d-158fd11ba882/8447181064100.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Mi Thar Su Kan Tot Pwal</h3>

						<p class="release-artist">Min Lwin Moe · Saint Nay Chi</p>
						<a class="release-button" href="https://songwhip.com/minlwinmoe/mi-thar-su-kan-tot-pwal" style="
    font-size: 2000%;
">Download or stream</a>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/93/3f/bb/933fbb14-f528-2350-0f63-07f84fb405fe/8445888861381.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Somebody's Pleasure</h3>

						<p class="release-artist">Derinada</p>
						<a class="release-button" href="https://songwhip.com/derinada/somebodys-pleasure" style="
    font-size: 2000%;
">Download or stream</a>
					</div>
			</div>
		</div>
	</section>
</main>

<div class="section-footer">
	<div class="grid">
		<div class="bg-blur footer">
			<div class="footer-content">
				<div class="footer-links">
					<div id="w-node-_03802028-bfa8-e461-f9ec-cfbb1830b3f0-1830b3eb" class="futlinks">
						<div class="futlink-name">Main Pages</div>
						<div data-w-id="8bfcd7b6-6309-0ced-f700-2cf811fbcee5" class="coming-soon">
							<a href="/about-us" class="futlink">About Us</a>
						</div>
						<div data-hover="true" data-delay="400" data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03962" class="navlink-dropdown w-dropdown">
							<div class="dropdown-toggle-2 w-dropdown-toggle" id="w-dropdown-toggle-11" aria-controls="w-dropdown-list-11" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
								<div class="futlink">Sell Your Music</div>
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f86cffb9e9b154f763b0bd_CaretDown%20(2).svg" loading="lazy" alt="" class="arrow-down futlink">
							</div>
							<nav class="dropdown-list-sell-music w-dropdown-list" id="w-dropdown-list-11" aria-labelledby="w-dropdown-toggle-11" style="height: 0px;">
								<div class="list-item">
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03969" href="/sell-music/soundcloud" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/666af49314fbd33ec3715553_145809.webp" loading="lazy" alt="" class="logo-music" style="">
											<div class="dropdown-text">SoundCloud</div>
									</a>
									<a data-w-id="9c017c61-92b6-d02d-e31e-2bb2475cbece" href="/sell-music/spotify" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-1080.webp 1080w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-1600.webp 1600w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-2000.webp 2000w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih.webp 2048w" alt="" class="logo-music" style="">
											<div class="dropdown-text">Spotify</div>
									</a>
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f0396d" href="/sell-music/apple-music" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon.webp 1024w" alt="" class="logo-music" style="">
											<div class="dropdown-text">Apple Music</div>
									</a>
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03971" href="/sell-music/tidal-music" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa926e2cc12ff7844b4346_tidal-white-icon.webp" loading="lazy" alt="" class="logo-music" style="">
											<div class="dropdown-text">Tidal</div>
									</a>
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03975" href="/sell-music/pandora" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43be45afa01d0c35869_pandora.webp" loading="lazy" alt="" class="logo-music" style="">
											<div class="dropdown-text">Pandora</div>
									</a>
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03979" href="/sell-music/deezer" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa578e7f1348620478327_unnamed.webp" loading="lazy" alt="" class="logo-music" style="">
											<div class="dropdown-text">Deezer</div>
									</a>
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f0397d" href="/sell-music/beatport" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White.webp 1036w" alt="" class="logo-music" style="">
											<div class="dropdown-text">Beatport</div>
									</a>
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03981" href="/sell-music/amazon" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a154ecc79d467ac94_phpifitvb-logo.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a154ecc79d467ac94_phpifitvb-logo-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a154ecc79d467ac94_phpifitvb-logo.webp 512w" alt="" class="logo-music" style="">
											<div class="dropdown-text">Amazon Music</div>
									</a>
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03985" href="/sell-music/youtube-music" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-1080.webp 1080w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-1600.webp 1600w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-2000.webp 2000w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg.webp 2048w" alt="" class="logo-music" style="">
											<div class="dropdown-text">Youtube</div>
									</a>
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03989" href="/sell-music/tiktok" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a7dff95275ad64041_TikTok-icon-glyph.webp" loading="lazy" alt="" class="logo-music" style="">
											<div class="dropdown-text">TikTok</div>
									</a>
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f0398d" href="/sell-music/instagram" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-1080.webp 1080w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-1600.webp 1600w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-2000.webp 2000w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg.webp 2048w" alt="" class="logo-music" style="">
											<div class="dropdown-text">Instagram</div>
									</a>
									<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03991" href="/sell-music/facebook" class="dropdown-link w-inline-block" tabindex="0">
										<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa439e45afa01d0c3569b_Facebook_f_logo_(2019).svg" loading="lazy" alt="" class="logo-music" style="">
											<div class="dropdown-text">Facebook</div>
									</a>
								</div>
							</nav>
						</div>
						<div data-hover="true" data-delay="400" data-w-id="42b7e840-7ceb-2edd-6429-900f87491c7c" class="navlink-dropdown w-dropdown">
							<div class="dropdown-toggle-2 w-dropdown-toggle" id="w-dropdown-toggle-12" aria-controls="w-dropdown-list-12" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
								<div class="futlink">Services</div>
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f86cffb9e9b154f763b0bd_CaretDown%20(2).svg" loading="lazy" alt="" class="arrow-down futlink">
							</div>
							<nav class="dropdown-list-services w-dropdown-list" id="w-dropdown-list-12" aria-labelledby="w-dropdown-toggle-12" style="height: 0px;">
								<div class="list-item">
									<a data-w-id="42b7e840-7ceb-2edd-6429-900f87491c83" href="/music-distribution" class="dropdown-link w-inline-block" tabindex="0">
										<div class="dropdown-image-div">
											<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab25395392d73fc1aa3f0_Mask%20group%20(1).webp" loading="lazy" alt="" class="logo-music">
												<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group-p-800.png 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group.png 1024w" alt="" class="logo-music-filled">
										</div>
										<div class="dropdown-text">Music Distribution</div>
									</a>
									<a data-w-id="42b7e840-7ceb-2edd-6429-900f87491c89" href="/music-promotion-marketing-" class="dropdown-link w-inline-block" tabindex="0">
										<div class="dropdown-image-div">
											<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab25c539cf6b653df950c_Mask%20group-1%20(1).webp" loading="lazy" alt="" class="logo-music">
												<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4543f23fa9f38dfb084_Mask%20group-1.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4543f23fa9f38dfb084_Mask%20group-1-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4543f23fa9f38dfb084_Mask%20group-1.png 1024w" alt="" class="logo-music-filled">
										</div>
										<div class="dropdown-text">
											Music Promotion<br> &amp; Marketing</div>
									</a>
									<a data-w-id="42b7e840-7ceb-2edd-6429-900f87491c91" href="/music-mastering" class="dropdown-link w-inline-block" tabindex="0">
										<div class="dropdown-image-div">
											<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab2599d90d967c605461f_Mask%20group-2%20(1).webp" loading="lazy" alt="" class="logo-music">
												<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454fab1eace80b96f57_Mask%20group-2.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454fab1eace80b96f57_Mask%20group-2-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454fab1eace80b96f57_Mask%20group-2.png 1024w" alt="" class="logo-music-filled">
										</div>
										<div class="dropdown-text">Music Mastering</div>
									</a>
									<a data-w-id="42b7e840-7ceb-2edd-6429-900f87491c97" href="/ai-solutions" class="dropdown-link w-inline-block" tabindex="0">
										<div class="dropdown-image-div">
											<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab2560afe56720bec1389_Mask%20group-3%20(1).webp" loading="lazy" alt="" class="logo-music">
												<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3-p-800.png 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3.png 1024w" alt="" class="logo-music-filled">
										</div>
										<div class="dropdown-text">AI Solutions</div>
									</a>
									<a data-w-id="6de88e2a-893c-e05d-52d2-a7c931bea039" href="https://info.xposuremusic.com/octiive" target="_blank" class="dropdown-link w-inline-block" tabindex="0">
										<div class="dropdown-image-div">
											<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/667135350800fb1e5a8a8303_casino-chip%201.svg" loading="lazy" alt="" class="logo-music">
												<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/66713561710a4a0646bd2232_casino-chip%202%20(1).svg" loading="lazy" alt="" class="logo-music-filled">
										</div>
										<div class="dropdown-text">Music Fundings</div>
									</a>
								</div>
							</nav>
						</div>
						<a href="/pricing" class="futlink">Pricing</a>
						<div data-w-id="88ded33e-4a8e-f3a2-075b-b39313526d62" class="coming-soon">
							<a href="/blog" class="futlink">Blog</a>
						</div>
					</div>
					<div id="w-node-_03802028-bfa8-e461-f9ec-cfbb1830b3fd-1830b3eb" class="futlinks">
						<div class="futlink-name">Quick Links</div>
						<a href="https://dashboard.octiive.com/sign-in" class="futlink">Sign In</a>
						<a href="https://dashboard.octiive.com/sign-up" class="futlink">Sign Up</a>
						<a href="/artist-testimonials" class="futlink">Testimonials</a>
						<a href="/how-we-compare" class="futlink">How We Compare</a>
					</div>
					<div id="w-node-_03802028-bfa8-e461-f9ec-cfbb1830b408-1830b3eb" class="futlinks">
						<div class="futlink-name">Support</div>
						<div class="coming-soon">
							<a href="/search-octiive" class="futlink">Search</a>
						</div>
						<a href="/faq" class="futlink">FAQ</a>
						<div class="coming-soon">
							<a href="/contact" class="futlink">Contact Us</a>
						</div>
						<div class="coming-soon">
							<a href="/careers-at-octiive" class="futlink">Careers</a>
						</div>
						<a href="/privacy-policy" class="futlink">Privacy Policy</a>
						<a href="/terms-conditions" class="futlink">Terms of use</a>
					</div>
					<div id="w-node-_03802028-bfa8-e461-f9ec-cfbb1830b417-1830b3eb" class="futlinks">
						<div class="futlink-name">Let’s chat</div>
						<a href="mailto:Support@octiive.com" class="futlink linked">Support@octiive.com</a>
						<a href="#" class="futlink linked"></a>
					</div>
					<div id="w-node-_03802028-bfa8-e461-f9ec-cfbb1830b41e-1830b3eb" class="futlinks last">
						<div class="futlink-name">Get valuable insights</div>
						<div class="form-block w-form">
							<form id="email-form" name="email-form" data-name="Email Form" method="get" class="form" data-wf-page-id="65fef141b22a2b364a2b53b8" data-wf-element-id="03802028-bfa8-e461-f9ec-cfbb1830b422" aria-label="Email Form">
								<input class="text-field w-input" maxlength="256" name="Email-2" data-name="Email 2" placeholder="Your E-Mail" type="email" id="Email-2">
									<div class="submit-button-div">
										<div class="submit-button">
											<input type="submit" data-wait="Please wait..." class="submit-button-2 w-button" value="">
										</div>
									</div>
							</form>
							<div class="w-form-done" tabindex="-1" role="region" aria-label="Email Form success">
								<div>Thank you! Your submission has been received!</div>
							</div>
							<div class="w-form-fail" tabindex="-1" role="region" aria-label="Email Form failure">
								<div>Oops! Something went wrong while submitting the form.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fut-heading">Octiive</div>
			</div>
		</div>
		<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f843d7305e25ae7e5f58b5_Group%2011%20(4).webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f843d7305e25ae7e5f58b5_Group%252011%2520(4)-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f843d7305e25ae7e5f58b5_Group%252011%2520(4)-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f843d7305e25ae7e5f58b5_Group%252011%2520(4)-p-1080.webp 1080w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f843d7305e25ae7e5f58b5_Group%252011%2520(4)-p-1600.webp 1600w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f843d7305e25ae7e5f58b5_Group%2011%20(4).webp 1817w" alt="" class="online-store-bg-image footer">
			<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f843d7305e25ae7e5f58bb_image%2017.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f843d7305e25ae7e5f58bb_image%252017-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f843d7305e25ae7e5f58bb_image%2017.webp 680w" alt="" class="online-store-bg-image footer mob">
	</div>
</div>