<div>
	<style>
		a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, figure, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 40%;
		vertical-align: baseline;
		}

		body {
		background: #000;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: none;
		-moz-osx-font-smoothing: grayscale;
		}

		body:after {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .75);
		content: "";
		z-index: 9;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s ease, visibility .3s ease;
		}

		.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
		background: rgba(0, 0, 0, .2);
		transition: transform .3s ease, background .3s ease;
		}

		.navigation, .navigation__logo {
		display: flex;
		}

		.navigation {
		position: relative;
		height: 12.8rem;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;
		}

		@media (min-width: 1200px) {
		.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1440px;
		}
		}

		.container, .container-fluid, .container-xl {
		width: 100%;
		padding-right: 1.6rem;
		padding-left: 1.6rem;
		margin-right: auto;
		margin-left: auto;
		}

		.navigation__logo {
		position: absolute;
		left: 1.6rem;
		bottom: 0;
		}

		a {
		text-decoration: none;
		transition: color .3s ease;
		}

		.navigation__logo-img {
		width: 100%;
		max-width: 22.1rem;
		height: 6.8rem;
		transition: transform .3s ease;
		transform: translateY(-3rem) scale(1);
		transform-origin: left center;
		}

		img {
		max-width: 100%;
		height: auto;
		}

		.navigation__right-bottom {
		position: relative;
		display: flex;
		justify-content: flex-end;
		z-index: 1;
		}

		/* Footer styles */
		.footer {
		background: #000;
		color: #fff;
		padding: 20px;
		text-align: center;
		}

		.footer a {
		color: #fff;
		text-decoration: none;
		}

		.footer a:hover {
		text-decoration: underline;
		}

		.navigation__main-menu, .navigation__main-menu>li>a {
		display: flex;
		}

		ol, ul {
		list-style: none;
		}

		html {
		font-size: 40%;
		}

		.navigation__main-menu>li>a {
		position: relative;
		font-family: Heroic Condensed, Arial, sans-serif;
		font-size: 2.5rem;
		line-height: 1;
		color: #fff;
		height: 6.8rem;
		align-items: center;
		padding: 0 2rem;
		text-decoration: none;
		text-transform: uppercase;
		display: flex;
		}

		.navigation__main-menu, .navigation__main-menu>li>a {
		display: flex;
		}

		a {
		text-decoration: none;
		transition: color .3s ease;
		}

		ol, ul {
		list-style: none;
		}

		.navigation__main-menu>li.current-menu-item>a:after, .navigation__main-menu>li.current-menu-item>a:before {
		max-width: calc(50% - 1rem);
		}

		.navigation__main-menu>li>a:before {
		right: 50%;
		}

		.navigation__main-menu>li>a:after {
		left: 50%;
		}

		.main {
		overflow: hidden;
		}

		.container--medium {
		max-width: 120rem;
		}

		@media (min-width: 1200px) {
		.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1440px;
		}
		}

		.container, .container-fluid, .container-xl {
		width: 100%;
		padding-right: 1.6rem;
		padding-left: 1.6rem;
		margin-right: auto;
		margin-left: auto;
		}

		img {
		max-width: 100%;
		height: auto;
		}

		style attribute {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #fff;
		width: 100%;
		height: 100%;
		object-fit: cover;
		}
		.row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -1.6rem;
		margin-left: -1.6rem;
		}

		.col-12 {
		flex: 0 0 100%;
		max-width: 100%;
		}

		.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
		position: relative;
		width: 100%;
		padding-right: 1.6rem;
		padding-left: 1.6rem;
		}

		body, html {
		font-family: Archivo Narrow, Arial, sans-serif;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: none;
		-moz-osx-font-smoothing: grayscale;
		}

		h2 {
		font-size: 8rem;
		line-height: 7rem;
		}

		h1, h2, h3, h4, h5, h6 {
		font-family: Heroic Condensed, Arial, sans-serif;
		font-weight: 500;
		color: #fff;
		margin-bottom: 3rem;
		text-transform: uppercase;
		}

		.page-header__slide-content .button {
		min-width: 21.5rem;
		}

		.button, button {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: .5rem 4.5rem 0;
		min-height: 5.5rem;
		height: 5rem;
		font-family: "Heroic Condensed", Arial, sans-serif;
		background: #fff;
		color: #fff;
		text-transform: uppercase;
		font-size: 2.6rem;
		line-height: 1.8rem;
		transition: background .3s ease, color .3s ease, border .3s ease;
		text-decoration: none;
		cursor: pointer;
		border: 2px solid #fff; /* Border color will be overridden later */
		padding: 10px 20px; /* Adjusted padding */
		border-radius: 5px; /* Rounded corners */
		}

		.button:hover {
		font-size: 65000%;
		text-shadow: 100 33 black;
		color: red;
		border-color: red;
		}

		style attribute {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #fff;
		}

		style attribute {
		color: white;
		position: relative;
		z-index: 1;
		background-color: rgba(0, 0, 0, 1);
		padding: 10px;
		}a {
		text-decoration: none;
		transition: color .3s ease;
		}

		@media only screen and (max-width: 1280px) {
		.footer {
		padding-top: 16rem;
		}
		}

		.footer {
		position: relative;
		padding-top: 31rem;
		}

		.footer__background {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		}

		.object-fit {
		position: relative;
		}

		.footer__background:after {
		position: absolute;
		width: 100%;
		height: 27rem;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #000, transparent);
		content: "";
		}

		.footer__background-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: .27;
		}

		img {
		max-width: 100%;
		height: auto;
		}

		@media (min-width: 1200px) {
		.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1440px;
		}
		}

		.container, .container-fluid, .container-xl {
		width: 100%;
		padding-right: 1.6rem;
		padding-left: 1.6rem;
		margin-right: auto;
		margin-left: auto;
		}

		*, :after, :before {
		box-sizing: inherit;
		}

		.footer__top {
		padding-bottom: 9.5rem;
		}

		.row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -1.6rem;
		margin-left: -1.6rem;
		}

		.footer__col, .footer__logo {
		display: flex;
		}

		.footer__col {
		flex-flow: column nowrap;
		}

		@media (min-width: 992px) {
		.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
		}
		}

		@media (min-width: 576px) {
		.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
		}
		}

		.col-12 {
		flex: 0 0 100%;
		max-width: 100%;
		}

		.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
		position: relative;
		width: 100%;
		padding-right: 1.6rem;
		padding-left: 1.6rem;
		}

		.footer__logo {
		max-width: 20rem;
		margin-bottom: 4rem;
		}

		.footer__logo-img {
		width: 100%;
		height: 6.1rem;
		}.footer__menu-title {
		font-size: 2.7rem;
		line-height: 4rem;
		margin-bottom: 1rem;
		}

		h4 {
		font-size: 4rem;
		line-height: 4rem;
		}

		h1, h2, h3, h4, h5, h6 {
		font-family: Heroic Condensed, Arial, sans-serif;
		font-weight: 500;
		color: #fff;
		margin-bottom: 3rem;
		text-transform: uppercase;
		}

		user agent stylesheet
		h4 {
		display: block;
		margin-block-start: 1.33em;
		margin-block-end: 1.33em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		font-weight: bold;
		unicode-bidi: isolate;
		}
		element.style {
		}

		user agent stylesheet
		nav {
		display: block;
		unicode-bidi: isolate;
		}

		ol, ul {
		list-style: none;
		}

		user agent stylesheet
		ul {
		display: block;
		list-style-type: disc;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 40px;
		unicode-bidi: isolate;
		}

		user agent stylesheet
		li {
		display: list-item;
		text-align: -webkit-match-parent;
		unicode-bidi: isolate;
		}

		user agent stylesheet
		ul {
		list-style-type: disc;
		}

		.footer__menu a {
		font-size: 1.6rem;
		line-height: 2.8rem;
		color: hsla(0, 0%, 100%, .4);
		transition: color .3s ease;
		}

		a {
		text-decoration: none;
		transition: color .3s ease;
		}

		user agent stylesheet
		a:-webkit-any-link {
		color: -webkit-link;
		cursor: pointer;
		text-decoration: underline;
		}

		user agent stylesheet
		li {
		text-align: -webkit-match-parent;
		}

		.footer__bottom, .footer__col-left {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		}

		.footer__bottom {
		padding-bottom: 3.5rem;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
		-ms-flex-pack: justify;
		justify-content: space-between;
		position: relative;
		}

		.row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -1.6rem;
		margin-left: -1.6rem;
		}
		.row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -1.6rem;
		margin-left: -1.6rem;
		}
		user agent stylesheet
		div {
		display: block;
		unicode-bidi: isolate;
		}
		element.style {
		}
		.footer__col-left {
		-ms-flex-direction: row;
		flex-direction: row;
		}
		.footer__bottom, .footer__col-left {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		}
		.footer__col-left {
		-ms-flex-direction: row;
		flex-direction: row;
		}
		.footer__bottom, .footer__col-left {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		}
		user agent stylesheet
		div {
		display: block;
		unicode-bidi: isolate;
		}
		body, html {
		font-family: Archivo Narrow, Arial, sans-serif;
		}
		.footer__bottom-left {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		}
		.footer__bottom-left {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		}
		* {
		box-sizing: border-box !important;
		}
		user agent stylesheet
		div {
		display: block;
		unicode-bidi: isolate;
		}
		.footer__col-left div p {
		margin-bottom: 0;
		}
		.footer__col-left div p {
		margin-bottom: 0;
		}
		.footer__copyright {
		position: relative;
		font-size: 1.4rem;
		line-height: 2.8rem;
		color: hsla(0, 0%, 100%, .3);
		margin-bottom: 0;
		padding-right: 2.5rem;
		margin-right: 1.25rem;
		white-space: nowrap;
		}
		.footer__copyright {
		position: relative;
		font-size: 1.4rem;
		line-height: 2.8rem;
		color: hsla(0, 0%, 100%, .3);
		margin-bottom: 0;
		padding-right: 2.5rem;
		margin-right: 1.25rem;
		white-space: nowrap;
		}
		p {
		font-family: Archivo Narrow, Arial, sans-serif;
		font-size: 1.8rem;
		line-height: 2.8rem;
		color: hsla(0, 0%, 100%, .5);
		margin-bottom: 3rem;
		}
		p {
		font-family: Archivo Narrow, Arial, sans-serif;
		font-size: 1.8rem;
		line-height: 2.8rem;
		color: hsla(0, 0%, 100%, .5);
		margin-bottom: 3rem;
		}

		user agent stylesheet
		p {
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		unicode-bidi: isolate;
		}
		.footer__copyright:after {
		position: absolute;
		right: 0;
		top: .6rem;
		width: .1rem;
		height: 1.7rem;
		background: hsla(0, 0%, 100%, .3);
		content: "";
		}
		.release-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
		}

		.release-widget {
		background-color: #080808;
		border-radius: 10px;
		padding: 20px;
		margin: 10px;
		flex-grow: 1;
		margin-top: 50px;
		max-width: 500px; /* Increased maximum width */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
		color: #fff;
		}

		.release-image {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 5px;
		}

		.release-title {
		margin-top: 10px;
		font-size: 18px;
		}

		.release-artist {
		font-size: 14px;
		padding: 3%;
		margin: 2%;
		color: #ccc;
		}

		.release-comments {
		font-size: 14px;
		color: #ccc;
		display: flex;
		align-items: center;
		}

		.release-comment-icon {
		width: 16px;
		height: 16px;
		margin-right: 5px;
		filter: invert(1);
		}

		.release-button {
		display: inline-block;
		text-align: center;
		background-color: #b01b00;

		margin-bottom: -1000%;

		color: white;
		padding: 3% 3%;
		text-decoration: none;
		margin-top: 0%;
		font-size: 10000%;
		font-weight: bold;
		}

		@media (min-width: 0px) {
		.release-button {
		width: 108%;
		margin-left: -4%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		}
		}

		@media (min-width: 500px) {
		.release-widget {
		width: calc(50% - 20px); /* Adjusted width for two columns with 20px margin */
		}
		.release-button {
		margin-bottom: -100%;
		margin-top: 10%;
		width: 121.5%;
		height: 12%;
		font-size: 10000%;
		line-height: 1.4; /* Adjust line height for vertical alignment */
		margin-left: -10%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		}
		}


		@media (min-width: 600px) {
		.release-widget {
		width: calc(50% - 20px); /* Adjusted width for two columns with 20px margin */
		}
		.release-button {
		margin-bottom: -20%;
		margin-top: 10%;
		width: 117.5%;
		margin-left: -9%;
		font-size: 15000%;
		line-height: 1.0; /* Adjust line height for vertical alignment */
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		}
		}

		@media (min-width: 700px) {
		.release-widget {
		width: calc(50% - 20px); /* Adjusted width for two columns with 20px margin */
		}
		.release-button {
		margin-bottom: -15%;
		margin-top: 10%;
		width: 114%;
		margin-left: -7%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		}
		}

		@media (min-width: 800px) {
		.release-widget {
		width: calc(50% - 20px); /* Adjusted width for two columns with 20px margin */
		}
		.release-button {
		margin-bottom: -5%;
		margin-top: 10%;
		width: 110%;
		margin-left: -5%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		}
		}

		@media (min-width: 992px) {
		.release-widget {
		width: calc(33.33% - 20px); /* Adjusted width for three columns with 20px margin */
		.release-button {
		margin-bottom: -20%;
		width: 114%;
		margin-left: -7%;
		margin-top: 2%

		}
		}

		@media (min-width: 1200px) {
		.release-widget {
		width: calc(33.33% - 20px); /* Adjusted width for three columns with 20px margin */
		.release-button {
		width: 111.5%;
		margin-left: -5.4%;
		margin-top: 2%

		}
		}

		@media (min-width: 1300px) {
		.release-widget {
		width: calc(33.33% - 20px); /* Adjusted width for three columns with 20px margin */
		.release-button {
		width: 109%;
		margin-left: -4.5%;
		margin-top: 2%;
		line-height: 1.3; /* Adjust line height for vertical alignment */

		}
		}
		}.footer {
		position: relative;
		padding-top: 31rem
		}

		.footer__background {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0
		}

		.footer__background:after {
		position: absolute;
		width: 100%;
		height: 27rem;
		top: 0;
		left: 0;
		background: linear-gradient(180deg,#000,transparent);
		content: ""
		}

		.footer__background .ie-image {
		opacity: .27
		}

		.footer__background-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: .27
		}

		.footer__top {
		padding-bottom: 9.5rem
		}

		.footer__col {
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap
		}

		.footer__col,.footer__logo {
		display: -ms-flexbox;
		display: flex
		}

		.footer__logo {
		max-width: 20rem;
		margin-bottom: 4rem
		}

		.footer__logo-img {
		width: 100%;
		height: 6.1rem
		}

		.footer__menu-title {
		font-size: 2.7rem;
		line-height: 4rem;
		margin-bottom: 1rem
		}

		.footer__menu a {
		font-size: 1.6rem;
		line-height: 2.8rem;
		color: hsla(0,0%,100%,.4);
		transition: color .3s ease
		}

		.footer__menu a:hover {
		color: #fff
		}

		.footer__menu .sub-menu {
		padding-left: 1.6rem
		}

		.footer__menu--bottom {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap
		}

		.footer__menu--bottom a {
		font-size: 1.4rem;
		color: hsla(0,0%,100%,.3);
		padding: 0 1.25rem;
		white-space: nowrap
		}

		.footer__all-link {
		display: -ms-flexbox;
		display: flex;
		margin-top: 2rem
		}

		.footer__bottom {
		padding-bottom: 3.5rem;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
		-ms-flex-pack: justify;
		justify-content: space-between;
		position: relative
		}

		.footer__bottom,.footer__col-left {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center
		}

		.footer__col-left {
		-ms-flex-direction: row;
		flex-direction: row
		}

		.footer__col-left div p {
		margin-bottom: 0
		}

		.footer__col-right {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		max-width: 25rem;
		width: 100%
		}

		.footer__col-right a img {
		width: 10rem
		}

		.footer__bottom-left {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap
		}

		.footer__copyright {
		position: relative;
		font-size: 1.4rem;
		line-height: 2.8rem;
		color: hsla(0,0%,100%,.3);
		margin-bottom: 0;
		padding-right: 2.5rem;
		margin-right: 1.25rem;
		white-space: nowrap
		}
		.footer__created-by {
		font-size: 1.4rem;
		line-height: 2.8rem;
		color: hsla(0,0%,100%,.3)
		}

		.footer__created-by a {
		color: hsla(0,0%,100%,.3);
		transition: color .3s ease
		}

		.footer__created-by a:hover {
		color: #fff
		}

		@media only screen and (max-width: 1280px) {
		.footer {
		padding-top:16rem
		}
		}

		@media only screen and (max-width: 1024px) {
		.footer {
		padding-top:8rem
		}
		}

		@media only screen and (max-width: 991px) {
		.footer__top {
		padding-bottom:1.5rem
		}

		.footer__bottom {
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse
		}

		.footer__bottom,.footer__col-right {
		padding-bottom: 1.6rem
		}

		.footer__col {
		margin-bottom: 3rem
		}
		}

		@media only screen and (max-width: 640px) {
		.footer {
		padding-top:5rem
		}

		.footer__logo {
		margin-bottom: 2rem
		}

		.footer__col {
		margin-bottom: 1rem
		}

		.footer__menu-title {
		margin-bottom: 0
		}

		.footer__all-link {
		margin-top: .5rem
		}

		.footer__col-left {
		-ms-flex-direction: column;
		flex-direction: column
		}

		.footer__bottom {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse
		}
		.footer__bottom,.footer__bottom-left {
		-ms-flex-pack: center;
		justify-content: center
		}

		.footer__bottom-left {
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center
		}

		.footer__copyright {
		padding-right: 0;
		margin-right: 0
		}

		.footer__copyright:after {
		display: none
		}

		.footer__menu--bottom a {
		padding: 0 .8rem
		}

		.footer__menu--bottom li:first-child a {
		padding-left: 0
		}

		.page-template-page-top-100-confirm {
		padding-bottom: 5rem
		}

		.page-template-page-top-100-confirm .page-header {
		height: auto!important
		}

		@media(max-width: 640px) {
		.page-template-page-top-100-confirm .page-header__logo .logo img {
		width:9.9rem
		}

		.page-template-page-top-100-confirm .page-header .editor .button {
		display:none
		}
		}

		.page-template-page-top-100-thanks {
		padding-bottom: 5rem
		}

		.page-template-page-top-100-thanks .page-header {
		height: 100%!important
		}

		@media(max-width: 640px) {
		.page-template-page-top-100-thanks .page-header__logo .logo img {
		width:9.9rem
		}

		.page-template-page-top-100-thanks .editor .button {
		display:none
		}
		}

		.page-template-page-top-100-thanks .playlist__item-info.playlist__list-item {
		top: 0
		}

		.page-template-page-top-100 .page-header__image {
		overflow: hidden
		}

		@media(max-width: 640px) {
		.page-template-page-top-100 .page-header__logo {
		margin-top:10rem!important
		}
		}

		.page-template-page-top-100 .header,.page-template-page-top-100-confirm .header,.page-template-page-top-100-thanks .header {
		position: relative;
		overflow: hidden
		}

		@media(max-width: 991px) {
		.page-template-page-top-100 .header,.page-template-page-top-100-confirm .header,.page-template-page-top-100-thanks .header {
		position:fixed;
		-ms-transform: none!important;
		transform: none!important
		}
		}

		.page-template-page-top-100 .page-header,.page-template-page-top-100-confirm .page-header,.page-template-page-top-100-thanks .page-header {
		height: auto;
		margin-bottom: 10rem
		}

		@media(max-width: 1024px) {
		.page-template-page-top-100 .page-header,.page-template-page-top-100-confirm .page-header,.page-template-page-top-100-thanks .page-header {
		height:auto
		}
		}

		@media(max-width: 640px) {
		.page-template-page-top-100 .page-header__logo .logo img,.page-template-page-top-100-confirm .page-header__logo .logo img,.page-template-page-top-100-thanks .page-header__logo .logo img {
		width:9.9rem
		}

		.page-template-page-top-100 .page-header__logo,.page-template-page-top-100-confirm .page-header__logo,.page-template-page-top-100-thanks .page-header__logo {
		margin-top:3.2rem
		}

		.page-template-page-top-100 .page-header__title,.page-template-page-top-100-confirm .page-header__title,.page-template-page-top-100-thanks .page-header__title {
		margin-top:1.9rem!important;
		margin-bottom: 0!important
		}
		}

		.page-template-page-top-100 .page-header__title--small,.page-template-page-top-100-confirm .page-header__title--small,.page-template-page-top-100-thanks .page-header__title--small {
		font-size: 6.6rem;
		line-height: 6.6rem;
		margin-top: 4.9rem!important
		}

		@media(max-width: 640px) {
		.page-template-page-top-100 .page-header__title--small,.page-template-page-top-100-confirm .page-header__title--small,.page-template-page-top-100-thanks .page-header__title--small {
		font-size:3.8rem;
		line-height: 4.2rem;
		margin-top: 1.9rem!important
		}
		}

		@media (max-width: 768px) {
		.navigation__main-menu {
		display: none;
		}
		}

		.navigation__main-menu > li > a:hover {
		font-size: large;
		text-shadow: 2px 2px black;
		}

		@media (max-width: 524px) {
		.navigation__main-menu > li > a {
		display: none;
		}
		}

		.page-template-page-top-100 .navigation,.page-template-page-top-100-confirm .navigation,.page-template-page-top-100-thanks .navigation {
		height: auto;
		background: #000
		}

		@media (max-width: 640px) {
		.navigation__right-bottom {
		display: none;
		}
		}
		</style>
		<div class="navbar-content">
	<div class="logo-div">
		<a href="/" aria-current="page" class="brand w-nav-brand w--current" aria-label="home">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" zoomAndPan="magnify" viewBox="0 0 2250 374.999991" height="50" preserveAspectRatio="xMidYMid meet" version="1.0">
				<path stroke-linecap="butt" transform="matrix(0.892627, 0, 0, 0.892627, 37.500025, -145.188403)" fill="none" stroke-linejoin="miter" d="M 143.908865 253.474962 C 134.622726 253.474962 125.419734 255.168522 116.30864 258.555644 C 107.280693 261.938389 98.944173 266.756503 91.307834 273.005611 C 83.667119 279.171572 77.155444 286.54972 71.777185 295.140054 C 66.482073 303.647242 63.138713 312.850235 61.751482 322.744655 L 29.718242 525.998187 L 75.553782 525.998187 L 93.128302 413.501125 L 284.666946 413.501125 L 292.088855 366.497159 L 100.681495 366.497159 L 107.582645 323.396697 C 108.624163 316.972545 111.967523 311.463003 117.608349 306.859319 C 123.336698 302.172488 129.76085 299.831261 136.880807 299.831261 L 304.324502 299.831261 L 311.877695 253.474962 Z M 414.274659 322.744655 C 404.638431 322.744655 395.177247 324.438215 385.886732 327.825337 C 376.688116 331.208082 368.26845 336.026196 360.627735 342.275304 C 352.98702 348.528787 346.479721 355.906935 341.097086 364.414123 C 335.801974 372.921311 332.458614 382.163689 331.071382 392.145631 L 309.715889 525.998187 L 356.592947 525.998187 L 377.944064 392.66639 C 378.639868 386.242238 382.02699 380.732696 388.101052 376.129012 C 394.17949 371.529704 400.774312 369.232238 407.894268 369.232238 L 487.320949 369.232238 L 494.222099 322.744655 Z M 608.403969 322.744655 C 598.767741 322.744655 589.306557 324.438215 580.020418 327.825337 C 570.817426 331.208082 562.39776 336.026196 554.761421 342.275304 C 547.120706 348.528787 540.609031 355.906935 535.226396 364.414123 C 529.931284 372.921311 526.5923 382.163689 525.200692 392.145631 L 515.048081 456.728494 C 513.310759 466.973004 513.743995 476.302904 516.34779 484.72257 C 519.039108 493.059089 523.205179 500.349714 528.846005 506.598822 C 534.57873 512.760407 541.523641 517.53476 549.680739 520.921881 C 557.842214 524.309002 566.738877 525.998187 576.375106 525.998187 L 707.623866 525.998187 L 715.045775 479.646264 L 584.317774 479.646264 C 577.631054 479.646264 572.121512 477.777658 567.780395 474.049199 C 563.526801 470.316364 561.400004 465.410727 561.400004 459.332289 L 650.462913 459.332289 C 670.081084 459.332289 687.353652 453.126942 702.284993 440.71625 C 717.216334 428.213659 726.458711 411.851325 730.016501 391.624872 C 732.795341 371.315273 728.497986 354.777895 717.128811 342.017112 C 705.755261 329.168807 690.307537 322.744655 670.772512 322.744655 Z M 572.07775 392.145631 C 572.769178 386.071569 576.1563 380.732696 582.234738 376.129012 C 588.3088 371.529704 594.907998 369.232238 602.023578 369.232238 L 660.619901 369.232238 C 667.735481 369.232238 673.507591 371.442181 677.93623 375.87082 C 682.448015 380.299459 684.141576 385.55081 683.012536 391.624872 C 681.971018 397.615789 678.588273 402.692094 672.855548 406.858166 C 667.214722 410.941091 660.834331 412.980366 653.718751 412.980366 L 568.953197 412.980366 Z M 873.929769 525.998187 C 882.870194 525.998187 891.771234 524.479671 900.624136 521.44264 C 909.564561 518.405609 917.638512 514.152015 924.841615 508.681858 C 932.132241 503.128554 938.341963 496.529357 943.46203 488.893017 C 948.669619 481.252302 952.012979 472.832636 953.487734 463.629644 C 954.874966 455.034933 954.227299 446.921596 951.535982 439.280881 C 948.932187 431.644542 944.761739 425.001583 939.033391 419.360757 C 933.392565 413.632408 926.622698 409.203769 918.723792 406.079216 C 910.908031 402.867139 902.575888 401.261101 893.722986 401.261101 L 839.81787 401.261101 C 833.826954 401.261101 828.663126 399.830108 824.322009 396.963746 C 820.068415 394.10176 818.287332 390.368924 818.983136 385.76524 C 819.766462 380.732696 822.715971 376.824816 827.836038 374.045976 C 832.960481 371.18399 838.557546 369.752996 844.635984 369.752996 L 967.290034 369.752996 L 974.843227 323.917456 L 851.016375 323.917456 C 841.813383 323.917456 832.829197 325.435972 824.059441 328.473003 C 815.381584 331.426888 807.395155 335.680482 800.10453 341.233786 C 792.809528 346.703943 786.560421 353.259379 781.352831 360.895718 C 776.232764 368.536434 772.976927 376.824816 771.589695 385.76524 C 770.198087 394.272429 770.806368 402.34638 773.410163 409.987096 C 776.10148 417.623435 780.18003 424.222632 785.650187 429.775936 C 791.207866 435.246093 797.89021 439.58721 805.701594 442.799286 C 813.512979 446.011362 822.063928 447.613024 831.354443 447.613024 L 885.128275 447.613024 C 891.206713 447.613024 896.458064 449.048393 900.882327 451.910379 C 905.310966 454.689219 907.175196 458.597099 906.483768 463.629644 C 905.787964 468.233328 902.750933 472.136832 897.368298 475.348908 C 892.073186 478.560985 886.43236 480.167023 880.441444 480.167023 L 757.135352 480.167023 L 749.713443 525.998187 Z M 1182.787966 525.998187 L 1136.956802 525.998187 L 1158.181011 392.66639 C 1158.959961 386.242238 1157.397685 380.732696 1153.49418 376.129012 C 1149.5863 371.529704 1144.072382 369.232238 1136.956802 369.232238 L 1078.75433 369.232238 C 1071.634374 369.232238 1065.210222 371.529704 1059.481873 376.129012 C 1053.841047 380.732696 1050.672732 386.242238 1049.976928 392.66639 L 1028.621435 525.998187 L 982.790271 525.998187 L 1026.01764 253.474962 L 1071.85318 253.474962 L 1060.133916 326.521251 C 1064.38751 325.479733 1068.466059 324.61326 1072.373939 323.917456 C 1076.277443 323.138506 1080.531037 322.744655 1085.134722 322.744655 L 1144.378711 322.744655 C 1153.577327 322.744655 1162.172038 324.438215 1170.158467 327.825337 C 1178.232419 331.208082 1185.002285 336.026196 1190.472442 342.275304 C 1196.025746 348.528787 1200.021148 355.906935 1202.449898 364.414123 C 1204.96617 372.921311 1205.530691 382.163689 1204.143459 392.145631 Z M 1182.787966 525.998187 " stroke="#ffffff" stroke-width="20.000025" stroke-opacity="1" stroke-miterlimit="4"></path>
				<path stroke-linecap="butt" transform="matrix(0.785869, 0, 0, 0.785869, 1143.39336, -145.707384)" fill="none" stroke-linejoin="miter" d="M 300.460237 598.000192 C 311.40056 598.000192 322.102294 596.076564 332.550526 592.234279 C 343.103141 588.387023 352.71631 582.964083 361.390032 575.965457 C 370.068726 568.862449 377.315882 560.581405 383.131501 551.117354 C 389.046533 541.553891 392.993201 530.95157 394.961564 519.320332 L 431.346464 288.455161 L 378.692742 288.455161 L 342.312813 519.320332 C 341.129807 526.125103 337.183139 532.184283 330.48275 537.512782 C 323.876803 542.736898 316.530235 545.351441 308.443045 545.351441 L 304.153404 545.351441 C 296.071185 545.351441 290.205859 542.935722 286.557428 538.104285 C 282.908997 533.173435 280.493278 526.075397 279.310272 516.805201 L 256.828182 364.769009 C 254.462169 350.274696 251.454947 338.196103 247.806516 328.533228 C 244.158085 318.77094 239.624884 310.981987 234.201943 305.166368 C 228.779003 299.251336 222.12335 295.011402 214.234984 292.446565 C 206.346619 289.787286 196.932274 288.455161 185.986981 288.455161 L 176.373812 288.455161 C 165.428518 288.455161 154.682049 290.378789 144.134405 294.221074 C 133.681202 298.06833 124.11774 303.540977 115.439046 310.639015 C 106.765324 317.63764 99.369049 326.018097 93.255193 335.780384 C 87.240749 345.443259 83.44817 355.896462 81.867515 367.135021 L 45.487586 598.000192 L 98.72784 598.000192 L 135.112739 367.135021 C 136.295746 360.33025 140.138031 354.315806 146.644565 349.09169 C 153.156071 343.768162 160.403227 341.103912 168.386034 341.103912 L 175.190806 341.103912 C 183.178584 341.103912 189.093615 343.966986 192.9359 349.683193 C 196.783156 355.304959 199.099462 361.960612 199.88979 369.650153 L 222.958413 521.686344 C 227.004493 548.308957 234.544916 567.679442 245.589622 579.807742 C 256.728769 591.936042 273.246122 598.000192 295.131738 598.000192 Z M 300.460237 598.000192 " stroke="#ffffff" stroke-width="22.716938" stroke-opacity="1" stroke-miterlimit="4"></path>
				<path stroke-linecap="butt" transform="matrix(0.785869, 0, 0, 0.785869, 1503.358752, -145.707545)" fill="none" stroke-linejoin="miter" d="M 171.954237 288.455366 C 161.008944 288.455366 150.262475 290.378994 139.70986 294.221279 C 129.261628 298.068535 119.693194 303.541182 111.019472 310.639219 C 102.340779 317.637845 94.949474 326.018301 88.835618 335.780589 C 82.821175 345.443464 79.023625 355.896666 77.44794 367.135226 L 41.06304 598.000397 L 93.716762 598.000397 L 104.657085 529.525208 L 247.085079 529.525208 L 294.852686 598.000397 L 361.553365 598.000397 L 312.453633 524.644065 C 328.230364 519.0223 341.934348 509.856486 353.565587 497.136683 C 365.301208 484.41688 372.598071 468.988092 375.456174 450.845348 L 388.76748 367.135226 C 390.343165 355.896666 389.701956 345.443464 386.843852 335.780589 C 384.085161 326.018301 379.54699 317.637845 373.23928 310.639219 C 367.026011 303.541182 359.286764 298.068535 350.016568 294.221279 C 340.751342 290.378994 330.646082 288.455366 319.700789 288.455366 Z M 289.380039 476.871487 L 113.087248 476.871487 L 130.096691 367.875848 C 131.279697 360.578985 135.226365 354.316011 141.926754 349.091895 C 148.632113 343.768366 155.978682 341.104117 163.96646 341.104117 L 310.679123 341.104117 C 318.761343 341.104117 325.317583 343.768366 330.347846 349.091895 C 335.378108 354.316011 337.296765 360.578985 336.113759 367.875848 L 323.398926 450.253845 C 322.116508 457.451295 318.120133 463.709299 311.414774 469.032828 C 304.808827 474.261914 297.467229 476.871487 289.380039 476.871487 Z M 518.445847 367.135226 C 507.500554 367.135226 496.754085 369.058854 486.20644 372.901139 C 475.753237 376.748395 466.189775 382.221042 457.511082 389.31908 C 448.837359 396.417117 441.441084 404.797574 435.327228 414.460449 C 429.312784 424.123324 425.520205 434.626233 423.93955 445.964205 L 412.402753 519.320536 C 410.43439 530.951775 410.926481 541.554096 413.883996 551.117559 C 416.940924 560.581609 421.67295 568.862653 428.080072 575.965662 C 434.586607 582.964287 442.474972 588.387228 451.745168 592.234484 C 461.010394 596.076769 471.120625 598.000397 482.060948 598.000397 L 631.139624 598.000397 L 639.569786 545.351646 L 491.082613 545.351646 C 483.492485 545.351646 477.22951 543.229193 472.303631 538.989259 C 467.472193 534.749325 465.056475 529.177265 465.056475 522.278052 L 566.213454 522.278052 C 588.49672 522.278052 608.120707 515.229721 625.080444 501.128087 C 642.035211 486.932011 652.53812 468.346883 656.57923 445.372702 C 659.73557 422.299108 654.854426 403.515155 641.940769 389.025813 C 629.022142 374.432088 611.470901 367.135226 589.287048 367.135226 Z M 477.184775 445.964205 C 477.970132 439.060021 481.817387 432.995871 488.716601 427.771755 C 495.620784 422.547639 503.111501 419.933095 511.198691 419.933095 L 577.750251 419.933095 C 585.837441 419.933095 592.393682 422.448227 597.423944 427.478489 C 602.548648 432.50378 604.472276 438.468518 603.189857 445.372702 C 602.006851 452.177473 598.159595 457.943386 591.653061 462.675411 C 585.245938 467.308024 577.998782 469.624331 569.911592 469.624331 L 473.630785 469.624331 Z M 797.709893 367.135226 C 786.764599 367.135226 776.01813 369.058854 765.470486 372.901139 C 755.017283 376.748395 745.453821 382.221042 736.775127 389.31908 C 728.101405 396.417117 720.70513 404.797574 714.591274 414.460449 C 708.57683 424.123324 704.784251 434.626233 703.203596 445.964205 L 691.666799 519.320536 C 689.698436 530.951775 690.190526 541.554096 693.148042 551.117559 C 696.20497 560.581609 700.936995 568.862653 707.344118 575.965662 C 713.850652 582.964287 721.739018 588.387228 731.009214 592.234484 C 740.279411 596.076769 750.38467 598.000397 761.324993 598.000397 L 876.981256 598.000397 L 885.560537 545.351646 L 770.346659 545.351646 C 762.363852 545.351646 755.807611 542.737102 750.677937 537.512986 C 745.652645 532.184487 743.729017 525.876777 744.912024 518.579915 L 756.44882 446.555708 C 757.234178 439.258845 761.081433 432.995871 767.980646 427.771755 C 774.88483 422.547639 782.375547 419.933095 790.462737 419.933095 L 905.527497 419.933095 L 913.366156 367.135226 Z M 797.709893 367.135226 " stroke="#ffffff" stroke-width="22.717012" stroke-opacity="1" stroke-miterlimit="4"></path>
			</svg>
		</a>
	</div>
	<div class="menu-icon">
		<div class="top-line"></div>
		<div class="bottom-line"></div>
	</div>
	<div class="main-navlinks">
		<div data-hover="true" data-delay="400" data-w-id="ebf4c38c-b8eb-13db-dffb-6fe9168e954f" class="navlink-dropdown w-dropdown">
			<div class="dropdown-toggle-2 w-dropdown-toggle" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
				<div class="navlink-2">Sell Your Music</div>
				<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f86cffb9e9b154f763b0bd_CaretDown%20(2).svg" loading="lazy" alt="" class="arrow-down">
			</div>
			<nav class="dropdown-list-sell-music w-dropdown-list" id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0" style="height: 0px;">
				<div class="list-item">
					<a data-w-id="4f3f45c8-5a70-5aab-b329-c8e67dcf9579" href="/sell-music/soundcloud" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/666af49314fbd33ec3715553_145809.webp" loading="lazy" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">SoundCloud</div>
					</a>
					<a data-w-id="08e57cee-af8e-4603-db45-957408c3e504" href="/sell-music/spotify" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-1080.webp 1080w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-1600.webp 1600w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-2000.webp 2000w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih.webp 2048w" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">Spotify</div>
					</a>
					<a data-w-id="9cb575d4-66c1-f2ca-f030-d58eec930b9d" href="/sell-music/apple-music" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon.webp 1024w" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">Apple Music</div>
					</a>
					<a data-w-id="7c6812d9-69a6-20e5-9b3a-c32aade8099b" href="/sell-music/tidal-music" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa926e2cc12ff7844b4346_tidal-white-icon.webp" loading="lazy" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">Tidal</div>
					</a>
					<a data-w-id="251056ab-e0d9-f1df-d823-03442fe41523" href="/sell-music/pandora" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43be45afa01d0c35869_pandora.webp" loading="lazy" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">Pandora</div>
					</a>
					<a data-w-id="672ab266-c808-22c9-36ef-29b690a330f1" href="/sell-music/deezer" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa578e7f1348620478327_unnamed.webp" loading="lazy" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">Deezer</div>
					</a>
					<a data-w-id="e8032bfd-cd98-326f-e31a-b887d8304759" href="/sell-music/beatport" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White.webp 1036w" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">Beatport</div>
					</a>
					<a data-w-id="7464a425-9d33-687d-6045-989e9875703c" href="/sell-music/amazon" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a154ecc79d467ac94_phpifitvb-logo.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a154ecc79d467ac94_phpifitvb-logo-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a154ecc79d467ac94_phpifitvb-logo.webp 512w" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">Amazon Music</div>
					</a>
					<a data-w-id="1cb4a5ce-cdff-4c21-5eb5-ac969b153c06" href="/sell-music/youtube-music" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-1080.webp 1080w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-1600.webp 1600w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-2000.webp 2000w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg.webp 2048w" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">Youtube</div>
					</a>
					<a data-w-id="bc56a32f-7c2d-0de7-5dbe-9630df348265" href="/sell-music/tiktok" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a7dff95275ad64041_TikTok-icon-glyph.webp" loading="lazy" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">TikTok</div>
					</a>
					<a data-w-id="86d5d2b7-ce57-ddf9-b4f7-f17b51da6252" href="/sell-music/instagram" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-1080.webp 1080w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-1600.webp 1600w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-2000.webp 2000w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg.webp 2048w" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">Instagram</div>
					</a>
					<a data-w-id="c7a6fabf-08db-d2ad-68ae-c7734a4b56b4" href="/sell-music/facebook" class="dropdown-link w-inline-block" tabindex="0">
						<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa439e45afa01d0c3569b_Facebook_f_logo_(2019).svg" loading="lazy" alt="" class="logo-music" style="filter: grayscale(100%);">
							<div class="dropdown-text">Facebook</div>
					</a>
				</div>
			</nav>
		</div>
		<div data-hover="true" data-delay="400" data-w-id="f5577fa2-f0ba-3620-68af-668c696a5ea6" class="navlink-dropdown w-dropdown">
			<div class="dropdown-toggle-2 w-dropdown-toggle" id="w-dropdown-toggle-1" aria-controls="w-dropdown-list-1" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
				<div class="navlink-2">Services</div>
				<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f86cffb9e9b154f763b0bd_CaretDown%20(2).svg" loading="lazy" alt="" class="arrow-down">
			</div>
			<nav class="dropdown-list-services w-dropdown-list" id="w-dropdown-list-1" aria-labelledby="w-dropdown-toggle-1" style="height: 0px;">
				<div class="list-item">
					<a data-w-id="85b054ef-0bdc-e5bc-2b16-a15c521e08c9" href="/music-distribution" class="dropdown-link w-inline-block" tabindex="0">
						<div class="dropdown-image-div">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab25395392d73fc1aa3f0_Mask%20group%20(1).webp" loading="lazy" alt="" class="logo-music">
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group-p-800.png 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group.png 1024w" alt="" class="logo-music-filled">
						</div>
						<div class="dropdown-text">Music Distribution</div>
					</a>
					<a data-w-id="85b054ef-0bdc-e5bc-2b16-a15c521e08cd" href="/music-promotion-marketing-" class="dropdown-link w-inline-block" tabindex="0">
						<div class="dropdown-image-div">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab25c539cf6b653df950c_Mask%20group-1%20(1).webp" loading="lazy" alt="" class="logo-music">
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4543f23fa9f38dfb084_Mask%20group-1.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4543f23fa9f38dfb084_Mask%20group-1-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4543f23fa9f38dfb084_Mask%20group-1.png 1024w" alt="" class="logo-music-filled">
						</div>
						<div class="dropdown-text">
							Music Promotion<br> &amp; Marketing</div>
					</a>
					<a data-w-id="85b054ef-0bdc-e5bc-2b16-a15c521e08d1" href="/music-mastering" class="dropdown-link w-inline-block" tabindex="0">
						<div class="dropdown-image-div">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab2599d90d967c605461f_Mask%20group-2%20(1).webp" loading="lazy" alt="" class="logo-music">
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454fab1eace80b96f57_Mask%20group-2.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454fab1eace80b96f57_Mask%20group-2-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454fab1eace80b96f57_Mask%20group-2.png 1024w" alt="" class="logo-music-filled">
						</div>
						<div class="dropdown-text">Music Mastering</div>
					</a>
					<a data-w-id="85b054ef-0bdc-e5bc-2b16-a15c521e08d5" href="/ai-solutions" class="dropdown-link w-inline-block" tabindex="0">
						<div class="dropdown-image-div">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab2560afe56720bec1389_Mask%20group-3%20(1).webp" loading="lazy" alt="" class="logo-music">
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3-p-800.png 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3.png 1024w" alt="" class="logo-music-filled">
						</div>
						<div class="dropdown-text">AI Solutions</div>
					</a>
					<a data-w-id="c5d1bf20-2b16-483a-9410-0071fa7401d8" href="https://info.xposuremusic.com/freshrec" target="_blank" class="dropdown-link w-inline-block" tabindex="0">
						<div class="dropdown-image-div">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/667135350800fb1e5a8a8303_casino-chip%201.svg" loading="lazy" alt="" class="logo-music">
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/66713561710a4a0646bd2232_casino-chip%202%20(1).svg" loading="lazy" alt="" class="logo-music-filled">
						</div>
						<div class="dropdown-text">Music Funding</div>
					</a>
				</div>
			</nav>
		</div>
		<a href="/pricing" class="navlink-2">Pricing</a>
		<a href="/faq" class="navlink-2">FAQ</a>
		<a href="/blog" class="navlink-2">Blog</a>
	</div>
	<div class="main-navlinks">
		<a href="/users/login" class="navlink-2">Sign In </a>
		<a href="/users/register" class="navlink-2">Sign Up</a>
		<div data-hover="true" data-delay="400" data-w-id="b646e905-3a7d-8d66-46df-77b4701a5d5b" class="language-dropdown w-dropdown">
			<div class="dropdown-toggle-2 w-dropdown-toggle" id="w-dropdown-toggle-2" aria-controls="w-dropdown-list-2" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
				<div class="navlink-2 hide">Language</div>
				<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/6617f8c454a0a747745abcfa_Globe.svg" loading="lazy" alt="" class="globe-icon">
					<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f86cffb9e9b154f763b0bd_CaretDown%20(2).svg" loading="lazy" alt="" class="arrow-down new">
			</div>
			<nav class="dropdown-list-services language w-dropdown-list" id="w-dropdown-list-2" aria-labelledby="w-dropdown-toggle-2" style="height: 0px;">
				<div class="list-item">
					<div class="w-locales-list">
						<div role="list" class="w-locales-items">
							<div role="listitem" class="dropdown-link w-locales-item">
								<a hreflang="en" href="/" aria-current="page" class="white-link w--current" tabindex="0">English</a>
							</div>
							<div role="listitem" class="dropdown-link w-locales-item">
								<a hreflang="de" href="/de" class="white-link" tabindex="0">German</a>
							</div>
							<div role="listitem" class="dropdown-link w-locales-item">
								<a hreflang="es" href="/es" class="white-link" tabindex="0">Spanish</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div class="menu-and-language">
		<div data-hover="true" data-delay="400" class="language-dropdown w-dropdown">
			<div class="dropdown-toggle-2 w-dropdown-toggle" id="w-dropdown-toggle-3" aria-controls="w-dropdown-list-3" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
				<div class="navlink-2 hide">Language</div>
				<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/6617f8c454a0a747745abcfa_Globe.svg" loading="lazy" alt="" class="globe-icon">
					<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f86cffb9e9b154f763b0bd_CaretDown%20(2).svg" loading="lazy" alt="" class="arrow-down new">
			</div>
			<nav class="dropdown-list-services language w-dropdown-list" id="w-dropdown-list-3" aria-labelledby="w-dropdown-toggle-3">
				<div class="list-item">
					<div class="w-locales-list">
						<div role="list" class="w-locales-items">
							<div role="listitem" class="dropdown-link w-locales-item">
								<a hreflang="en" href="/" aria-current="page" class="white-link w--current" tabindex="0">English</a>
							</div>
							<div role="listitem" class="dropdown-link w-locales-item">
								<a hreflang="de" href="/de" class="white-link" tabindex="0">German</a>
							</div>
							<div role="listitem" class="dropdown-link w-locales-item">
								<a hreflang="es" href="/es" class="white-link" tabindex="0">Spanish</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<div data-w-id="51d28bf8-a18f-7523-da46-357d63c00746" class="menu-icon-2">
			<div class="top-line" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
			<div class="bottom-line" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
		</div>
	</div>
</div>

<main class="main">


	<section class="section section--first section--first-on-home">
		<div bis_skin_checked="1" class="container">


			<div bis_skin_checked="1" class="release-container">
				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/3b/9c/9d/3b9c9d3c-9fc0-fffc-05ed-e707751798e4/8447181173024.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Stronger (Speed Up)</h3>

						<p class="release-artist">DJ Smellhodet  Anime Lifestyle  SICK LEGEND</p>
						<h3 class="release-button" href="https://songwhip.com/dj-smellhodet/strongerspeedup" style="
    font-size: 30000%;
">Download or stream</h3>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/61/8b/ae/618baedd-16dc-8d42-d2c2-097301b4d5a4/197342346832_cover.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Lil Nigeria</h3>

						<p class="release-artist">Money Man</p>
						<h3 class="release-button" href="https://songwhip.com/dj-smellhodet/strongerspeedup" style="font-size: 30000%;">Download or stream</h3>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/21/e8/1a/21e81aab-29a2-64e3-e5c8-6bd618be927f/197999035639_cover.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Calling My Name (I'm A Soldier) (Live)</h3>

						<p class="release-artist">Ebuka Songs</p>
						<h3 class="release-button" href="https://songwhip.com/ebukasongs/calling-my-name-im-a-soldier-live" style="
    font-size: 30000%;
">Download or stream</h3>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/45/81/31/4581317e-8d0c-4adf-395c-3dae1d3e3eff/8445888484924.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Advance Hardstyle</h3>

						<p class="release-artist">Anime Lifestyle</p>
						<a class="release-button" href="https://songwhip.com/animelifestyle/advancehardstyle" style="
    font-size: 30000%;
">Download or stream</a>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://i.scdn.co/image/ab67616d0000b2733747ffc44bb642cb2195af7b">
						<h3 class="release-title">   ! (Sped Up)</h3>

						<p class="release-artist">Anime Lifestyle</p>
						<a class="release-button" href="https://songwhip.com/animelifestyle/r-tebr-ne-otdam-sped-up" style="
    font-size: 30000%;
">Download or stream</a>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/db/9e/62/db9e624b-197d-83e1-5e44-07cb01af3be0/8445888771451.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Big Boy</h3>

						<p class="release-artist">Serena</p>
						<a class="release-button" href="https://songwhip.com/serena2/big-boy" style="
    font-size: 30000%;
">Download or stream</a>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/ad/15/f8/ad15f8b9-4083-e7df-305d-158fd11ba882/8447181064100.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Mi Thar Su Kan Tot Pwal</h3>

						<p class="release-artist">Min Lwin Moe  Saint Nay Chi</p>
						<a class="release-button" href="https://songwhip.com/minlwinmoe/mi-thar-su-kan-tot-pwal" style="
    font-size: 30000%;
">Download or stream</a>
					</div>

				<div bis_skin_checked="1" class="release-widget">
					<img alt="Release Image" class="release-image" src="https://songwhip.com/cdn-cgi/image/quality=60,width=1200/https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/93/3f/bb/933fbb14-f528-2350-0f63-07f84fb405fe/8445888861381.jpg/1400x1400bb.jpg">
						<h3 class="release-title">Somebody's Pleasure</h3>

						<p class="release-artist">Derinada</p>
						<a class="release-button" href="https://songwhip.com/derinada/somebodys-pleasure" style="
    font-size: 30000%;
">Download or stream</a>
					</div>
			</div>
		</div>
	</section>
</main>

<div class="footer-content">
	<div class="footer-links">
		<div id="w-node-_03802028-bfa8-e461-f9ec-cfbb1830b3f0-1830b3eb" class="futlinks">
			<div class="futlink-name">Main Pages</div>
			<div data-w-id="8bfcd7b6-6309-0ced-f700-2cf811fbcee5" class="coming-soon">
				<a href="/about-us" class="futlink">About Us</a>
			</div>
			<div data-hover="true" data-delay="400" data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03962" class="navlink-dropdown w-dropdown">
				<div class="dropdown-toggle-2 w-dropdown-toggle" id="w-dropdown-toggle-11" aria-controls="w-dropdown-list-11" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
					<div class="futlink">Sell Your Music</div>
					<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f86cffb9e9b154f763b0bd_CaretDown%20(2).svg" loading="lazy" alt="" class="arrow-down futlink">
							</div>
				<nav class="dropdown-list-sell-music w-dropdown-list" id="w-dropdown-list-11" aria-labelledby="w-dropdown-toggle-11" style="height: 0px;">
					<div class="list-item">
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03969" href="/sell-music/soundcloud" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/666af49314fbd33ec3715553_145809.webp" loading="lazy" alt="" class="logo-music" style="">
								<div class="dropdown-text">SoundCloud</div>
							</a>
						<a data-w-id="9c017c61-92b6-d02d-e31e-2bb2475cbece" href="/sell-music/spotify" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-1080.webp 1080w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-1600.webp 1600w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih-p-2000.webp 2000w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa91f0a01b4a9656749f75_spotify-icon-2048x2048-5gqpkwih.webp 2048w" alt="" class="logo-music" style="">
								<div class="dropdown-text">Spotify</div>
							</a>
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f0396d" href="/sell-music/apple-music" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa923a05862b6a72cb821a_Itunes-music-app-icon.webp 1024w" alt="" class="logo-music" style="">
								<div class="dropdown-text">Apple Music</div>
							</a>
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03971" href="/sell-music/tidal-music" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fa926e2cc12ff7844b4346_tidal-white-icon.webp" loading="lazy" alt="" class="logo-music" style="">
								<div class="dropdown-text">Tidal</div>
							</a>
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03975" href="/sell-music/pandora" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43be45afa01d0c35869_pandora.webp" loading="lazy" alt="" class="logo-music" style="">
								<div class="dropdown-text">Pandora</div>
							</a>
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03979" href="/sell-music/deezer" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa578e7f1348620478327_unnamed.webp" loading="lazy" alt="" class="logo-music" style="">
								<div class="dropdown-text">Deezer</div>
							</a>
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f0397d" href="/sell-music/beatport" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a06986781d8df7aae_TBG-PrimaryIcon-White.webp 1036w" alt="" class="logo-music" style="">
								<div class="dropdown-text">Beatport</div>
							</a>
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03981" href="/sell-music/amazon" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a154ecc79d467ac94_phpifitvb-logo.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a154ecc79d467ac94_phpifitvb-logo-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a154ecc79d467ac94_phpifitvb-logo.webp 512w" alt="" class="logo-music" style="">
								<div class="dropdown-text">Amazon Music</div>
							</a>
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03985" href="/sell-music/youtube-music" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-1080.webp 1080w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-1600.webp 1600w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg-p-2000.webp 2000w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43acb5617947d9c29cb_Youtube_Music_icon.svg.webp 2048w" alt="" class="logo-music" style="">
								<div class="dropdown-text">Youtube</div>
							</a>
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03989" href="/sell-music/tiktok" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43a7dff95275ad64041_TikTok-icon-glyph.webp" loading="lazy" alt="" class="logo-music" style="">
								<div class="dropdown-text">TikTok</div>
							</a>
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f0398d" href="/sell-music/instagram" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-500.webp 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-800.webp 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-1080.webp 1080w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-1600.webp 1600w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg-p-2000.webp 2000w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa43b91b23d18a49e2b8c_Instagram_logo_2016.svg.webp 2048w" alt="" class="logo-music" style="">
								<div class="dropdown-text">Instagram</div>
							</a>
						<a data-w-id="71afbabd-2cda-2e9e-5c8f-fe77c6f03991" href="/sell-music/facebook" class="dropdown-link w-inline-block" tabindex="0">
							<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65faa439e45afa01d0c3569b_Facebook_f_logo_(2019).svg" loading="lazy" alt="" class="logo-music" style="">
								<div class="dropdown-text">Facebook</div>
							</a>
					</div>
				</nav>
			</div>
			<div data-hover="true" data-delay="400" data-w-id="42b7e840-7ceb-2edd-6429-900f87491c7c" class="navlink-dropdown w-dropdown">
				<div class="dropdown-toggle-2 w-dropdown-toggle" id="w-dropdown-toggle-12" aria-controls="w-dropdown-list-12" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
					<div class="futlink">Services</div>
					<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65f86cffb9e9b154f763b0bd_CaretDown%20(2).svg" loading="lazy" alt="" class="arrow-down futlink">
							</div>
				<nav class="dropdown-list-services w-dropdown-list" id="w-dropdown-list-12" aria-labelledby="w-dropdown-toggle-12" style="height: 0px;">
					<div class="list-item">
						<a data-w-id="42b7e840-7ceb-2edd-6429-900f87491c83" href="/music-distribution" class="dropdown-link w-inline-block" tabindex="0">
							<div class="dropdown-image-div">
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab25395392d73fc1aa3f0_Mask%20group%20(1).webp" loading="lazy" alt="" class="logo-music">
									<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group-p-800.png 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454e857002e99964855_Mask%20group.png 1024w" alt="" class="logo-music-filled">
										</div>
							<div class="dropdown-text">Music Distribution</div>
						</a>
						<a data-w-id="42b7e840-7ceb-2edd-6429-900f87491c89" href="/music-promotion-marketing-" class="dropdown-link w-inline-block" tabindex="0">
							<div class="dropdown-image-div">
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab25c539cf6b653df950c_Mask%20group-1%20(1).webp" loading="lazy" alt="" class="logo-music">
									<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4543f23fa9f38dfb084_Mask%20group-1.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4543f23fa9f38dfb084_Mask%20group-1-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4543f23fa9f38dfb084_Mask%20group-1.png 1024w" alt="" class="logo-music-filled">
										</div>
							<div class="dropdown-text">
								Music Promotion<br> &amp; Marketing</div>
						</a>
						<a data-w-id="42b7e840-7ceb-2edd-6429-900f87491c91" href="/music-mastering" class="dropdown-link w-inline-block" tabindex="0">
							<div class="dropdown-image-div">
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab2599d90d967c605461f_Mask%20group-2%20(1).webp" loading="lazy" alt="" class="logo-music">
									<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454fab1eace80b96f57_Mask%20group-2.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454fab1eace80b96f57_Mask%20group-2-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab454fab1eace80b96f57_Mask%20group-2.png 1024w" alt="" class="logo-music-filled">
										</div>
							<div class="dropdown-text">Music Mastering</div>
						</a>
						<a data-w-id="42b7e840-7ceb-2edd-6429-900f87491c97" href="/ai-solutions" class="dropdown-link w-inline-block" tabindex="0">
							<div class="dropdown-image-div">
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab2560afe56720bec1389_Mask%20group-3%20(1).webp" loading="lazy" alt="" class="logo-music">
									<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3.png" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3-p-500.png 500w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3-p-800.png 800w, https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/65fab4542ada184ec1995529_Mask%20group-3.png 1024w" alt="" class="logo-music-filled">
										</div>
							<div class="dropdown-text">AI Solutions</div>
						</a>
						<a data-w-id="6de88e2a-893c-e05d-52d2-a7c931bea039" href="https://info.xposuremusic.com/freshrec" target="_blank" class="dropdown-link w-inline-block" tabindex="0">
							<div class="dropdown-image-div">
								<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/667135350800fb1e5a8a8303_casino-chip%201.svg" loading="lazy" alt="" class="logo-music">
									<img src="https://cdn.prod.website-files.com/5de692c71b5c23251d74e90c/66713561710a4a0646bd2232_casino-chip%202%20(1).svg" loading="lazy" alt="" class="logo-music-filled">
										</div>
							<div class="dropdown-text">Music Fundings</div>
						</a>
					</div>
				</nav>
			</div>
			<a href="/pricing" class="futlink">Pricing</a>
			<div data-w-id="88ded33e-4a8e-f3a2-075b-b39313526d62" class="coming-soon">
				<a href="/blog" class="futlink">Blog</a>
			</div>
		</div>
		<div id="w-node-_03802028-bfa8-e461-f9ec-cfbb1830b3fd-1830b3eb" class="futlinks">
			<div class="futlink-name">Quick Links</div>
			<a href="/users/login" class="futlink">Sign In</a>
			<a href="/users/register" class="futlink">Sign Up</a>
			<a href="/artist-testimonials" class="futlink">Testimonials</a>
			<a href="/how-we-compare" class="futlink">How We Compare</a>
		</div>
		<div id="w-node-_03802028-bfa8-e461-f9ec-cfbb1830b408-1830b3eb" class="futlinks">
			<div class="futlink-name">Support</div>
			<div class="coming-soon">
				<a href="/search-freshrec" class="futlink">Search</a>
			</div>
			<a href="/faq" class="futlink">FAQ</a>
			<div class="coming-soon">
				<a href="/contact" class="futlink">Contact Us</a>
			</div>
			<div class="coming-soon">
				<a href="/careers-at-freshrec" class="futlink">Careers</a>
			</div>
			<a href="/privacy-policy" class="futlink">Privacy Policy</a>
			<a href="/terms-conditions" class="futlink">Terms of use</a>
		</div>
		<div id="w-node-_03802028-bfa8-e461-f9ec-cfbb1830b417-1830b3eb" class="futlinks">
			<div class="futlink-name">Lets chat</div>
			<a href="mailto:Support@freshrec.co" class="futlink linked">Support@freshrec.co</a>
			<a href="#" class="futlink linked"></a>
		</div>
		<div id="w-node-_03802028-bfa8-e461-f9ec-cfbb1830b41e-1830b3eb" class="futlinks last">
			<div class="futlink-name">Get valuable insights</div>
			<div class="form-block w-form">
				<form id="email-form" name="email-form" data-name="Email Form" method="get" class="form" data-wf-page-id="65fef141b22a2b364a2b53b8" data-wf-element-id="03802028-bfa8-e461-f9ec-cfbb1830b422" aria-label="Email Form">
					<input class="text-field w-input" maxlength="256" name="Email-2" data-name="Email 2" placeholder="Your E-Mail" type="email" id="Email-2">
						<div class="submit-button-div">
							<div class="submit-button">
								<input type="submit" data-wait="Please wait..." class="submit-button-2 w-button" value="">
										</div>
						</div>
					</form>
				<div class="w-form-done" tabindex="-1" role="region" aria-label="Email Form success">
					<div>Thank you! Your submission has been received!</div>
				</div>
				<div class="w-form-fail" tabindex="-1" role="region" aria-label="Email Form failure">
					<div>Oops! Something went wrong while submitting the form.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fut-heading" style="
    font-size: 30000%;
">FreshRec</div>
</div>
	</div>